<script>

let ShippingRate = 3000;
let PromoVariant = {{ all_products["20-promo-gift-card"].variants[0].id | json }};

let bundleProducts = [
  {%- for pass in (0..1) -%}
    {%- if pass == 0 -%}
      {%- assign col = collections["pizza-pack"] -%}
    {%- else -%}
      {%- assign col = collections["pasta-pack"] -%}
    {%- endif -%}
    {%- for prod in col.products -%}
      {
        image: {{ prod.featured_image | img_url: "100x100" | json }},
        title: {{ prod.title | json }},
        url  : {{ prod.url   | json }}
      },
    {%- endfor -%}
  {%- endfor -%}
];

let compareAts = {
  {%- assign handles = "pizza-pack|pasta-pack|mixed-pack" | split: "|" -%}
  {%- for handle in handles -%}
    {%- assign prod = all_products[handle] -%}
    {%- unless prod -%}{%- continue -%}{%- endunless -%}
    [{{ prod.id | json }}]: {{ prod.compare_at_price | json }},
  {%- endfor -%}
};

let shoppingCart = {
    note: {{ cart.note | json }}
};

function initShoppingCart(items) {

    Object.assign(shoppingCart, {
        count   : 0,
        items   : items.filter(i=>i.quantity != 0),
        subtotal: 0
    });

    let element = document.createElement("div");

    for (let item of shoppingCart.items) {
        shoppingCart.subtotal += item.finalPrice * item.quantity;

        if (item.handle == "20-promo-gift-card") {
            item.finalPrice = 0;
            item.title = item.title.replace(" - $20.00", "");
        } else item.title = item.title.replace(" - Default Variant", "");

        item.isNormal =
            item.tags.indexOf("Virtual"  ) == -1 &&
            item.tags.indexOf("Free"     ) == -1 &&
            item.tags.indexOf("Gift Card") == -1 &&
            item.handle != "20-promo-gift-card"
        ;
        item.sendAsGift  = !!item.properties.find(p=>p[0] == "_gift_id");
        item.canQuantity = item.finalPrice != 0 && item.handle != "20-promo-gift-card" && !item.sendAsGift;
        item.canRemove   = item.handle != "20-promo-gift-card";
        item.title       = item.title.replaceAll("&#39;", "'").replaceAll("&amp;", "&");
        item.counts      =
            item.finalPrice                !=  0 &&
            item.tags.indexOf("Virtual"  ) == -1 &&
            item.tags.indexOf("Free"     ) == -1 &&
            item.tags.indexOf("Gift Card") == -1 &&
            item.handle != "20-promo-gift-card"
        ;
        item.compareAtPrice = compareAts[item.productId] || item.finalPrice;
        item.requiresKey    = item.sendAsGift;

        item.isBundle = !!item.properties.find(p=>p[0] == "_rb_id");
        if (item.isBundle) {
            item.bundleId    = item.properties.find(p=>p[0] == "_rb_id")[1];
            item.canQuantity = false;
            item.counts      = false;
            item.contents    = item.properties.find(p=>p[0] == "Contents")[1].split("\n").map(c=>{
                element.innerHTML = c;
                c = element.innerText;
                let product  = bundleProducts.find(p=>p.title == c.substring(c.indexOf(" ") + 1));
                let quantity = Number(c.substring(0, c.indexOf("x")));
                return { product: product, quantity: quantity };
            }).sort((a,b)=>a.product.title.toLowerCase().localeCompare(b.product.title.toLowerCase()));
        }

        else item.bundleId = "";

        //if (item.counts)
        if (item.isBundle) {
            for (let content of item.contents)
                shoppingCart.count += item.quantity * content.quantity;
        } else shoppingCart.count += item.quantity;
    }

    shoppingCart.total = shoppingCart.subtotal;

    let cartBtn = document.getElementById("CartButton");
    let count   = cartBtn.querySelector("[name='Count']");
    let inner   = count.querySelector("[name='Inner']");
    if (shoppingCart.count == 0) {
        cartBtn.classList.remove("active");
        count.style.display = "none";
    } else {
        cartBtn.classList.add("active");
        count.style.removeProperty("display");
        inner.innerText = shoppingCart.count;
    }

    shoppingCart.items.sort((a,b)=>{
        if (a.finalPrice == 0 && b.finalPrice != 0) return -1;
        if (a.finalPrice != 0 && b.finalPrice == 0) return  1;
        let cmp = a.title.toLowerCase().localeCompare(b.title.toLowerCase())
        if (cmp != 0)
            return cmp;
        if (!a.isBundle) return 0;
        for (let x = 0; x < a.contents.length; x++) {
            cmp = a.contents[x].product.title.toLowerCase().localeCompare(
                b.contents[x].product.title.toLowerCase());
            if (cmp != 0)
                return cmp;
        }
        if (a.finalPrice != b.finalPrice) return a.finalPrice - b.finalPrice;
        return a.bundleId.localeCompare(b.bundleId);
    });
    console.log("shoppingCart", shoppingCart);
}


window.CartQueue   = [];
CartQueue.pending  = false;
window.NotePending = false;
window.PendingNote = null;

function calcSubtotal() {
    let ret = 0;
    for (let item of shoppingCart.items) {
        if (item.finalPrice == 0 || item.handle == "20-promo-gift-card")
            continue;
        ret += item.finalPrice * item.quantity;
    }
    return ret;
}

function qualifiesForFreebie() {
    if (shoppingCart.items.find(i=>i.tags.indexOf("Free") != -1))
        return false;
    let count = 0;
    for (let item of shoppingCart.items) {
        if (item.counts)
            count += item.quantity;
    }
    return count >= 6;
}

function qualifiesForGiftCard() {
    return false && (
        !shoppingCart.items.find(i=>i.handle == "20-promo-gift-card") &&
        calcSubtotal() >= 15000
    );
}

function toMoney(price, freeText) {
    if (!price)
        return freeText || "FREE";
    price = price.toString().padStart(3, "0");
    return "$" +
        price.substring(0, price.length - 2) + "." +
        price.substring(   price.length - 2)
    ;
}

function setFormEnabled(enabled) {
    if (!("ItemTemplate" in window)) return;
    let elements = Array.from(document.querySelectorAll(
        "*:is(input,textarea,button):not([no-disable])"));
    for (let elm of elements)
        elm[enabled ? "removeAttribute" : "setAttribute"]("disabled", "");
}

async function changeQuantity(variantId, bundleId, quantity, lineItemKey = null) {

    let item = shoppingCart.items.find(i=>
        i.variantId == variantId &&
        i.bundleId  == bundleId  &&
        (i.requiresKey ? i.lineItemKey == lineItemKey : lineItemKey == null)
    );
    if (item)
        item.quantity = quantity;

    let hasFreebie  = !!shoppingCart.items.find(i=>i.tags.indexOf("Free") != -1);
    let hasDonation = !!shoppingCart.items.find(i=>i.handle == "food-bank-pizza-donation");
    let hasGiftCard = !!shoppingCart.items.find(i=>i.handle == "20-promo-gift-card");

    let count = 0;
    for (let item of shoppingCart.items) {
        if (item.isBundle && item.counts) {
            for (let content of item.contents)
                count += item.quantity * content.quantity;
        } else if (item.counts)
            count += item.quantity;
    }
    let removeFree = count < 6; //hasFreebie || count < 6;

    setFormEnabled(false);

    if (removeFree) {
        for (let utem of shoppingCart.items) {
            if (utem.finalPrice != 0 || utem.handle == "20-promo-gift-card")
                continue;
            utem.quantity = 0;
            CartQueue.push({ [utem.variantId]: 0 });
        }
    }

    if (item ?? variantId)
        CartQueue.push({ [item?.lineItemKey ?? variantId]: quantity });

    //let removeGiftCard = hasGiftCard ||
        //shoppingCart.items.find(i=>i.handle == "20-promo-gift-card") && calcSubtotal() < 15000;
    let giftCardTotal = 0;
    let promoHave     = 0;
    for (let item of shoppingCart.items) {
        switch (item.handle) {
            case "rise-ai-giftcard"  :
                giftCardTotal += item.price * item.quantity;
                break;
            case "20-promo-gift-card":
                promoHave += item.quantity;
                break;
        }
    }
    let promoNeed = Math.floor(giftCardTotal / 10000);

    let removeGiftCard = promoNeed == 0 &&
        shoppingCart.items.find(i=>i.handle == "20-promo-gift-card");
    if (removeGiftCard) {
        for (let utem of shoppingCart.items) {
            if (utem.handle != "20-promo-gift-card")
                continue;
            utem.quantity = 0;
            CartQueue.push({ [utem.variantId]: 0 });
        }
    }

    //let grantGiftCard = false &&
    //    !shoppingCart.items.find(i=>i.handle == "20-promo-gift-card") && calcSubtotal() >= 15000;
    let grantGiftCard = promoNeed > 0 && promoNeed != promoHave;
    if (grantGiftCard)
        CartQueue.push({ ["{{ all_products['20-promo-gift-card'].variants[0].id }}"]: promoNeed });

    let wholesale    = shoppingCart.items.filter(i=>i.tags.find(t=>t.toLowerCase().indexOf("wholesale") != -1));
    let nonWholesale = shoppingCart.items.filter(i=>
        //!i.tags.find(t=>t.toLowerCase() == "virtual") &&
         i.tags.find(t=>t.toLowerCase().indexOf("wholesale") == -1)
    );
    let removeNonWholesale = wholesale.length != 0 && nonWholesale.length != 0;
    if (removeNonWholesale) {
        for (let item of nonWholesale)
            CartQueue.push({ [item.variantId]: 0 });
    }

    if (item || removeFree || removeGiftCard || grantGiftCard || removeNonWholesale) {
        initShoppingCart(shoppingCart.items);
        refreshItems();
    }

    if (CartQueue.pending)
        return;
    CartQueue.pending = true;

    while (CartQueue.length > 0) {
        let body = {
            note   : renderNote(),
            updates: {}
        };
        while (CartQueue.length > 0)
            Object.assign(body.updates, CartQueue.shift());

        try {
            let response = await fetch("/cart/update.js", {
                method : "POST",
                headers: { "Content-Type": "application/json" },
                body   : JSON.stringify(body)
            });
            if (!response.ok)
                throw response;
            response = await response.json();
            if (!response)
                throw response;

            for (let item of response.items) {
                Object.assign(item, {
                    finalPrice   : item.final_price,
                    imageURL     : item.image,
                    lineItemKey  : item.key,
                    originalPrice: item.original_price,
                    price        : item.price,
                    properties   : Object.entries(item.properties),
                    tags         : allTags[item.product_id.toString()] || [],
                    variantId    : item.id.toString()
                });
            }

            initShoppingCart(response.items);

        } catch (e) {
            console.log("changeQuantity", e);
            initShoppingCart(shoppingCart.items);
            alert("An error occurred while updating the cart. You may want to reload the page.");
        }
    }

    CartQueue.pending = false;
    setFormEnabled(true);
    refreshItems();
}

function refreshItems() {
    if (!("ItemTemplate" in window)) return;
    let items = document.getElementById("Items");

    if (shoppingCart.items.length == 0) {
        document.getElementById("NoProducts" ).style.removeProperty("display");
        document.getElementById("YesProducts").style.display = "none";
    } else {
        document.getElementById("NoProducts" ).style.display = "none";
        document.getElementById("YesProducts").style.removeProperty("display");
    }

    let rows   = items ? Array.from(items.querySelectorAll(":scope > *")) : [];
    let zeroes = rows.filter(r=>{
        let variantId   = r.getAttribute("variant-id");
        let bundleId    = r.getAttribute("bundle-id");
        let lineItemKey = r.getAttribute("line-item-key") || null;
        return !shoppingCart.items.find(i=>
            i.variantId == variantId &&
            i.bundleId  == bundleId  &&
            lineItemKey == (i.requiresKey ? i.lineItemKey : null)
        );
    });
    rows = rows.filter(r=>zeroes.indexOf(r) == -1);
    for (let row of zeroes)
        row.remove();
    for (let x = 0; x < shoppingCart.items.length; x++) {
        let item  = shoppingCart.items[x];
        let prop, isNew = false;

        let elm = rows.find(r=>
            r.getAttribute("variant-id") == item.variantId &&
            r.getAttribute("bundle-id" ) == item.bundleId  &&
            (r.getAttribute("line-item-key") || null) == (item.requiresKey ? item.lineItemKey : null)
        );
        if (!elm) {
            elm = ItemTemplate.cloneNode(true);
            rows.splice(x, 0, elm);
            if (x == 0)
                items.prepend(elm);
            else rows[x - 1].after(elm);
            elm.setAttribute("variant-id", item.variantId);
            elm.setAttribute("bundle-id", item.bundleId);
            if (item.requiresKey)
                elm.setAttribute("line-item-key", item.lineItemKey);
            isNew = true;
        }

        if (isNew) {
            if (!item.isBundle || true) {
                prop = elm.querySelector("[name='Image']");
                prop.src = item.imageURL;
                prop.style.removeProperty("display");
                if (item.isNormal) {
                    let sub   = document.createElement("a");
                    sub.href  = item.url;
                    sub.title = item.title;
                    prop.before(sub);
                    sub.append(prop);
                }
                elm.querySelector("[name='BundleImages']").style.display = "none";
            } else {
                prop = elm.querySelector("[name='BundleImages']");
                prop.style.removeProperty("display");
                let subs = prop.querySelectorAll("img");
                for (let x = 0, z = 0; x < item.contents.length; x++) {
                    let content = item.contents[x];
                    for (let y = 0; y < content.quantity; y++, z++)
                        subs[z].src = content.product.image;
                }
                elm.querySelector("[name='Image']").style.display = "none";
            }

            prop = elm.querySelector("[name='Title']");
            if (item.isNormal || item.handle == "rise-ai-giftcard") {
                let sub       = prop.querySelector("[name='YesLink']");
                sub.href      = item.url;
                sub.innerText = item.title;
                sub.style.removeProperty("display");
            } else {
                let sub       = prop.querySelector("[name='NoLink']");
                sub.innerText = item.title;
                sub.style.removeProperty("display");
            }
            if (item.handle == "20-promo-gift-card") {
                let sub = prop.querySelector("[name='GiftCardMessage']");
                sub.style.removeProperty("display");
            }
            if (item.handle == "rise-ai-giftcard") {
                let sub = prop.querySelector("[name='SendAsGift']");
                if (item.properties.find(i=>i[0] == "_gift_id")) {
                    sub.style.removeProperty("display");
                    sub.querySelector("[name='Recipient']").innerText =
                        item.properties.find(i=>i[0] == "Name")[1];
                } else sub.style.display = "none";
            }

            let sub = prop.querySelector("[name='BundleContents']");
            if (item.isBundle) {
                sub.style.removeProperty("display");
                sub.innerText = item.contents.map(c=>c.quantity + "\u00d7 " + c.product.title).join("\n");
            } else sub.style.display = "none";

        }

        let effectivePrice =
            item.handle == "20-promo-gift-card" ? 0 : item.finalPrice;

        prop = elm.querySelector("[name='PriceMobile']");
        prop.innerText = toMoney(effectivePrice * item.quantity);

        prop = elm.querySelector("[name='PriceDesktop']");
        prop.querySelector("[name='Final']").innerText =
            toMoney(effectivePrice);
        if (item.finalPrice != item.compareAtPrice && item.handle != "20-promo-gift-card") {
            let sub = prop.querySelector("[name='Original']");
            sub.innerText = toMoney(item.compareAtPrice);
            sub.style.removeProperty("display");
        }

        prop = elm.querySelector("[name='Quantity']");
        if (item.canQuantity) {
            let sub = prop.querySelector("[name='YesInput']");
            sub.value = item.quantity;
            sub.style.removeProperty("display");
            if (!sub.getAttribute("variant-id")) {
                sub.setAttribute("variant-id", item.variantId);
                sub.setAttribute("bundle-id", item.bundleId);
                if (item.requiresKey)
                    sub.setAttribute("line-item-key", item.lineItemKey);
                sub.addEventListener("input",e=>{
                    if (!sub.value || !parseInt(sub.value) || parseInt(sub.value) <= 0)
                        return;
                    changeQuantity(
                        sub.getAttribute("variant-id"),
                        sub.getAttribute("bundle-id"),
                        parseInt(sub.value),
                        sub.getAttribute("line-item-key") || null
                    )
                });
                sub.addEventListener("blur", e=>
                    sub.value = shoppingCart.items.find(i=>
                        sub.getAttribute("variant-id") == i.variantId &&
                        (sub.getAttribute("line-item-key") || null) == (i.requiresKey ? i.lineItemKey : null)
                    ).quantity
                );
            }
        } else {
            let sub = prop.querySelector("[name='NoInput']");
            sub.innerText = item.quantity;
            sub.style.removeProperty("display");
        }

        if (isNew && item.canRemove) {
            for (let sub of Array.from(elm.querySelectorAll("[name='Remove']"))) {
                sub.style.removeProperty("display");
                if (!sub.getAttribute("variant-id")) {
                    sub.setAttribute("variant-id", item.variantId);
                    sub.setAttribute("bundle-id", item.bundleId);
                    if (item.requiresKey)
                        sub.setAttribute("line-item-key", item.lineItemKey);
                    sub.addEventListener("click", ()=>changeQuantity(
                        sub.getAttribute("variant-id"),
                        sub.getAttribute("bundle-id"),
                        0,
                        sub.getAttribute("line-item-key") || null
                    ));
                }
            }
        }

        prop = elm.querySelector("[name='Total']");
        prop.innerText = toMoney(item.finalPrice * item.quantity, "-");
    }

    refreshTotals();
}

function refreshTotals() {
    if (!("ItemTemplate" in window)) return;

    let trueSubtotal = calcSubtotal();

    let isWholesale = !!shoppingCart.items.find(
        i=>i.tags.find(t=>t.toLowerCase().indexOf("wholesale") != -1));
    let isGiftCardsOnly = !shoppingCart.items.find(i=>i.handle != "20-promo-gift-card" && i.handle != "rise-ai-giftcard");
    let shippingRate = isWholesale || isGiftCardsOnly ? 0 : ShippingRate;

    let prop, totals = document.getElementById("Totals");
    prop = totals.querySelector("[name='Total']");
    prop.innerText = toMoney(trueSubtotal, "$0.00");
    prop = totals.querySelector("[name='Shipping']");
    prop.innerText = toMoney(shippingRate, "-");
    prop = totals.querySelector("[name='ShipTotal']");
    prop.innerText = toMoney(trueSubtotal + shippingRate, "-");

    let hasFreebie  = !!shoppingCart.items.find(i=>i.tags.indexOf("Free") != -1);
    let hasDonation = !!shoppingCart.items.find(i=>i.handle == "food-bank-pizza-donation");
    let hasGiftCard = !!shoppingCart.items.find(i=>i.handle == "20-promo-gift-card");

    let count = 0;
    let foods = 0;
    for (let item of shoppingCart.items) {
        if (item.isBundle && item.counts) {
            for (content of item.contents) {
                foods += item.quantity * content.quantity;
                count += item.quantity * content.quantity;
            }
        } else {
            if (item.counts)
                count += item.quantity;
            if (item.isNormal)
                foods += item.quantity;
        }
    }

    if (isWholesale) {
        let element = document.querySelector("[name='MinQuantity']");
        let svg = element.querySelector("svg");
        if (svg) {
            svg.remove();
            element.querySelector("div").innerText =
                "Order 2 or more cases to checkout.";
        }

        for (let sub of totals.querySelectorAll(".regular"))
            sub.style.display = "none";
        let elm = document.querySelector("#YesCheckout .excluding_tax em");
        elm.innerText = "Tax & shipping calculated at checkout";
    }

    let canCheckout =
        foods >= (isWholesale ? 2 : 5) ||
        shoppingCart.items.length != 0 &&
            !shoppingCart.items.find(i=>i.isNormal)
    ;

    document.getElementById("YesCheckout").style
        [!canCheckout ? "setProperty" : "removeProperty"]("display", "none");
    document.getElementById("NoCheckout").style
        [ canCheckout ? "setProperty" : "removeProperty"]("display", "none");
    document.getElementById("OfferFreebie").style.display = //"none";
        count < 6 || hasFreebie ? "none" : "grid";
    //document.getElementById("OfferGiftCard").style.display =
    //    trueSubtotal < 15000 || hasGiftCard ? "none" : "block";

    let offerDonation = !hasDonation && !isWholesale;
    for (let elm of Array.from(document.querySelectorAll("[name='OfferDonation']"))) {
        elm.style
            [/*count < 6 ||*/ offerDonation ? "removeProperty" : "setProperty"]
            ("display", "none")
        ;
    }

    let note   = (shoppingCart.note || "").replaceAll("\r", "").trim() + "\n";
    let dIndex = note.indexOf("== Delivery Instructions/Gift Message ==\n");
    let aIndex = note.indexOf("== Restaurant Gift Card Alternate Shipping Address ==\n");

    let notes = [];
    if (dIndex == -1)
        notes.push(note                               .trim());
    else if (dIndex != -1 && aIndex == -1)
        notes.push(note.substring(dIndex + 41        ).trim());
    else {
        notes.push(note.substring(dIndex + 41, aIndex).trim());
        notes.push(note.substring(aIndex + 54        ).trim());
    }

    if (notes[0] == "(Empty)") notes[0] = "";
    if (notes[1] == "(Empty)") notes[1] = "";

    let elm = document.getElementById("DeliveryInstructions");
    if (elm) elm .value = notes[0] || "";
        elm = document.getElementById("GiftCardAddress"     );
    if (elm) elm .value = notes[1] || "";

    elm = document.querySelector("#Notes [name='GiftCardAddress']");
    if (elm) elm.style.display = "none";
        //[!hasGiftCard ? "setProperty" : "removeProperty"]("display", "none");

    //for (elm of document.querySelectorAll("[is-shipping]"))
    //    elm.style[isGiftCardsOnly ? "setProperty" : "removeProperty"]("display", "none");
    
}

function renderNote() {
    let instructions = document.getElementById("DeliveryInstructions");
    let alternate    = document.getElementById("GiftCardAddress");
    return (
        "== Delivery Instructions/Gift Message ==\n" +
        ((instructions ? instructions.value.trim() : "") || "(Empty)") +
        (
            true || !shoppingCart.items.find(i=>i.handle == "20-promo-gift-card") ? "" :
            "\n\n== Restaurant Gift Card Alternate Shipping Address ==\n" +
            ((alternate ? alternate.value.trim() : "") || "(Empty)")
        )
    );
}

async function noteChanged() {

    PendingNote = renderNote();
    setFormEnabled(false);
    if (NotePending)
        return;

    while (PendingNote != null) {
        try {
            let response = fetch("/cart/update.js", {
                method : "POST",
                headers: { "Content-Type": "application/json" },
                body   : JSON.stringify({ note: PendingNote })
            });
            PendingNote = null;
            response = await response;
            if (!response.ok)
                throw response;
            response = await response.json();
            if (!response)
                throw response;
        } catch (e) {
            console.log("noteChanged", e);
            alert("An error occurred while updating the note. You may want to reload the page.");
            PendingNote = null;
            NotePending = false;
            setFormEnabled(true);
            return;
        }
    }

    setFormEnabled(true);
}

function checkoutCart() {
    document.getElementById("checkout").click();
}

function configDonationControls(element, enabled) {
    for (let elm of element.querySelectorAll("a, button:not([aria-controls])")) {
        elm[enabled ? "removeAttribute" : "setAttribute"]("disabled", "");
        elm[enabled ? "removeAttribute" : "setAttribute"]("tabindex", "-1");
    }
}

function toggleDonationExpanded() {
    if (window.innerWidth >= 800) return;
    let elements = document.querySelectorAll("[name='OfferDonation']");
    if (elements.length == 0) return;
    let expanded = elements[0].getAttribute("aria-expanded") == "true";
    for (let element of elements) {
        let extra  = 30;//element.getBoundingClientRect().height - 50;
        let bounds = element.querySelector("div").getBoundingClientRect();
        if (!expanded)
            element.style.height = (bounds.height + extra) + "px";
        else element.style.removeProperty("height");
        element.setAttribute("aria-expanded", String(!expanded));
        configDonationControls(element, !expanded);
        element.querySelector("[aria-controls]").innerText =
            expanded ? "+" : "-";
    }
}

window.addEventListener("resize", e=>{
    for (let element of document.querySelectorAll("[name='OfferDonation']")) {
        if (window.innerHeight >= 800) {
            element.style.removeProperty("height");
            element.removeAttribute("aria-expanded");
            configDonationControls(element, true);
        } else {
            if (element.getAttribute("aria-expanded") != "true") {
                configDonationControls(element, false);
                continue;
            }
            let extra  = 30;//element.getBoundingClientRect().height - 50;
            let bounds = element.querySelector("div").getBoundingClientRect();
            element.style.height = (bounds.height + extra) + "px";
        }
    }
});

window.addEventListener("load", ()=>{
    window.dispatchEvent(new Event("resize"));
});

</script>
