{% comment %}
  Snippet can be used in section or blocks
  eg. {% include 'include-image-with-text-overlay' %}
{% endcomment %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}

{% assign wide_display = object.settings.wide_display %}
{% assign image = object.settings.image %}
{% assign mobile_image = object.settings.mobile_image %}
{% assign title = object.settings.title | escape %}
{% assign subtext = object.settings.subtext %}
{% assign text_position = object.settings.text_position %}
{% assign text_alignment = object.settings.text_align %}
{% assign button_label = object.settings.button_label | escape %}
{% assign link = object.settings.link %}

{% if wide_display == false %}
  <div class="container">
    <div class="sixteen columns">
{% endif %}

<section class="full-width--{{ wide_display }}">
  <div class="banner-section">
    {% if link != blank %}
      <a href="{{ link }}">
    {% endif %}
    {% if image != nil %}
      {% include 'image-element', image: image, alt: image.alt, additional_classes: 'banner-section__image' %}
      {% include 'image-element', image: mobile_image, alt: image.alt, additional_classes: 'banner-section__image_mobile' %}
    {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--image-with-text-overlay' }}
    {% endif %}

    {% if link != blank %}
      </a>
    {% endif %}
    {% if image != blank or title != blank or subtext != blank or button_label != blank %}
      <div class="banner-section__caption">
        <div class="container">
          <div class="align_{{ text_alignment }}">
          <!--<div class="columns {% if text_position == 'left' %} seven offset-by-one {% elsif text_position == 'right' %} seven offset-by-eight {% else %} eight offset-by-four {% endif %} align_{{ text_alignment }}">-->
            <div class="banner-section__caption-content">
              {% if title != blank %}
                <h1 class="banner-section__caption-headline">
                  {{ title }}
                </h1>
              {% endif %}
              {% if subtext != blank %}
                <div class="banner-section__caption-subtitle">
                  {{ subtext }}
                </div>
              {% endif %}
              {% if button_label != blank %}
                <a {% if link != blank %}href="{{ link }}"{% endif %} class="banner-section__caption-button action_button">
                  {{ button_label }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>

{% if wide_display == false %}
    </div>
  </div>
{% endif %}
