{% comment %}
  Snippet can be used in section or blocks
  eg. {% include 'include-featured-product' %}
{% endcomment %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign collection = collections[object.settings.frontpage_collection] %}
{% assign products = collection.products %}
{% assign products_per_row = object.settings.frontpage_products_per_row %}

<div class="container content">
  <div class="section homepage_content clearfix">
    <div class="sixteen columns">
      {% if object.settings.title != blank %}
        <h2 class="title">
          <a href="{{ collections[object.settings.frontpage_collection].url }}">
            {{ object.settings.title | escape }}
          </a>
        </h2>
        <div class="feature_divider"></div>
      {% endif %}

      {% if products.size > 0 %}
        {% comment %}
        {% assign limit = object.settings.frontpage_products_limit %}
        {% include 'product-loop', limit: limit %}
        {% endcomment %}

        <h2>Pizzas</h2>
        {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Pizza" %}
        <div style="clear: both;"></div>
        <h2>Fiori Pasta Bakes</h2>
        {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Pasta Bake" %}
        <div style="clear: both;"></div>
        <h2>Dry Pastas</h2>
        {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Dry Pasta" %}
        <div style="clear: both;"></div>
        <h2>Sauces</h2>
        {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Sauce" %}
        <div style="clear: both;"></div>
        <h2>Oils &amp; Vinegars</h2>
        {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Oils" %}
        <div style="clear: both;"></div>
        <div id="subscription-anchor">&nbsp;</div>
        <h2 style="margin-bottom:.25em;">Subscribe and Save 10%</h2>
        <p style="line-height:1.5em !important;">Enjoy a night at Katie’s in the comfort of your own home, we’ll do the work. Katie’s Pizza and Pasta Packs are delivered to your door as often as you want them. </p>
        {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Packs" %}
        <div style="clear: both;"></div>
        <h2>Gift Card</h2>
        {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Gift Card" %}
        <div style="clear: both;"></div>
        {% comment %}  
        <h2>Pasta by the Pound</h2>
        {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Pasta" %}
        <div style="clear: both;"></div>
        <h2>Appetizers</h2>
        {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Appetizer" %}
        <div style="clear: both;"></div>
        <h2>Desserts</h2>
        {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Dessert" %}
        <div style="clear: both;"></div>
        {% endcomment %}
        

      {% else %}
        {% assign limit = object.settings.frontpage_products_limit %}
        <div class="featured-collection--placeholder clearfix">
          {% for i in (1..limit) %}
            <div class=" {% if products_per_row == 2 %} eight columns {% elsif products_per_row == 3 %} one-third column {% elsif products_per_row == 4 %} four columns {% endif %} thumbnail">
              <a href="#">
                <div class="relative product_image">
                  {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                  {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
                </div>
                <div class="info">
                  <span class="title">{{ 'homepage.onboarding.product_title' | t }}</span>
                    <span class="price">
                    <span class="money">$49.60</span>
                  </span>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
