{% comment %}
  Snippet can be used in section or blocks
  eg. {% include 'include-featured-blog' %}
{% endcomment %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{%- assign blog_widget_select = object.settings.blog_widget_select -%}
{%- assign blog = blogs[blog_widget_select] -%}

<div class="container">
  {% if blog != blank %}
    <div class="clearfix homepage_content">
      {% if object.settings.title != blank %}
        <div class="sixteen columns clearfix">
          <h2 class="title">
            <a href="{{ blog.url }}">
              {{ object.settings.title | escape }}
            </a>
          </h2>
          <div class="feature_divider"></div>
        </div>
      {% endif %}

      {% for article in blog.articles limit: object.settings.home_page_articles %}
        <div class="{% if object.settings.home_page_articles == 2 %}eight columns{% elsif object.settings.home_page_articles == 3 %}one-third column{% else %}four columns{% endif %} article">
          {% if article.image %}
            <a href="{{ article.url }}" title="{{ article.title | escape }}">
              {% include 'image-element', image: article.image, alt: article.image.alt %}
            </a>
          {% endif %}

          {% if object.settings.blog_tags %}
            <div class="blog_meta tags">
              {% for tag in article.tags %}
                <span><a href="{{ shop.url}}/blogs/{{ blogs[object.settings.blog_widget_select].handle }}/tagged/{{ tag | handleize }}" title="{{ blogs[object.settings.blog_widget_select].title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
              {% endfor %}
            </div>
          {% endif %}

          <h5 class="sub_title">
            <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
          </h5>
          <p class="blog_meta">
            {% if object.settings.blog_author %}
              <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}

            {% if object.settings.blog_date %}
              <span>{{ article.published_at | date: format: "month_day_year" }}</span>
            {% endif %}

            {% if object.settings.blog_comment_count %}
              {% if settings.disqus_enabled %}
                <span>
                  <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                </span>
              {% elsif article.comments_enabled? and article.comments_count > 0 %}
                <span>
                  <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                </span>
              {% endif %}
            {% endif %}
          </p>

          {% if article.excerpt != blank %}
            {% assign postexcerpt = article.excerpt | size %}
              {% if postexcerpt > 100 %}
                {% assign excerptlength = 'lg' %}
              {% elsif postexcerpt <= 50 %}
                {% assign excerptlength = 'sm' %}
              {% endif %}
              <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
                {{ article.excerpt }}
                <span class="truncation-fade"></span>
              </div>
          {% endif %}
          {% if object.settings.read_more_link %}
            <p class="continue_reading">
              <a href="{{ article.url }}" title="{{ article.title | escape }}" {% if settings.read_more_style == 'button' %}class="action_button"{% endif %}>{{ 'blogs.general.continue_reading_html' | t }}</a>
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="section clearfix homepage_content">
      {% if object.settings.title != blank %}
        <h2 class="title">
          <a href="{{ blog.url }}">
            {{ object.settings.title | escape }}
          </a>
        </h2>
        <div class="feature_divider"></div>
      {% endif %}

      {% for i in (1..object.settings.home_page_articles) %}
        <div class="{% if object.settings.home_page_articles == 2 %}eight columns{% elsif object.settings.home_page_articles == 3 %}one-third column{% else %}four columns{% endif %} article">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}

          <h5 class="sub_title">
            <a href="#" title="{{ 'homepage.onboarding.blogpost_title' | escape }}">{{ 'homepage.onboarding.blogpost_title' | t }}</a>
          </h5>
          <p class="blog_meta">
            {% if object.settings.blog_author %}
              <span>{{ 'homepage.onboarding.blog_author' | t: author: article.author }}</span>
            {% endif %}

            {% if object.settings.blog_date %}
              <span>{{ 'now' | date: format: "month_day_year" }}</span>
            {% endif %}

            {% if object.settings.blog_comment_count %}
              {% if settings.disqus_enabled %}
                <span>
                  <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                </span>
              {% elsif article.comments_enabled? and article.comments_count > 0 %}
                <span>
                  <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                </span>
              {% endif %}
            {% endif %}
          </p>

          {% if article.excerpt != blank %}
            {{ 'homepage.onboarding.blog_excerpt' | t }}
          {% endif %}
          {% if object.settings.read_more_link %}
            <p class="continue_reading">
              <a href="{{ article.url }}" title="{{ article.title | escape }}" {% if settings.read_more_style == 'button' %}class="action_button"{% endif %}>{{ 'blogs.general.continue_reading_html' | t }}</a>
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif%}
</div>
