{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}
{% assign collection_group_mobile = collection_group | append : 'mobile' %}

{% assign forLimit = limit %}

{% capture new_row %}
    <br class="clear product_clear" />
{% endcapture %}

{% comment %}Check to see if product in the collection matches the main product, if so, add 1 to the limit{% endcomment %}
{% for product in products limit: limit %}
  {%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
  {%- if product.handle == "food-bank-pizza-donation" -%}{%- continue -%}{%- endif -%}
  {% if product.id == skip_product.id  %}
    {% assign forLimit = limit | plus: 1 %}
  {% endif %}
{% endfor %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ListItem",
    "itemListElement": [
      {% for product in products limit: limit %}
        {%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
        {%- if product.handle == "food-bank-pizza-donation" -%}{%- continue -%}{%- endif -%}
        {%- unless tag == nil or product.tags contains tag -%}{%- continue -%}{%- endunless -%}
        {
          "@type": "ListItem",
          "position": "{{ forloop.index | json }}",
          "url": "{{ shop.url }}{{ product.url }}",
          "name": "{{ product.title }}"
        } {%- unless forloop.last -%},{%- endunless -%}
      {% endfor %}
    ]
  }
</script>

<div class="products">
  {% assign cell_number = 0 %}
  {% assign mod_stop = products_per_row | minus: 1 %}
  {% for product in products limit: forLimit %}
    {%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
    {%- if product.handle == "food-bank-pizza-donation" -%}{%- continue -%}{%- endif -%}
    {%- unless tag == nil or product.tags contains tag -%}{%- continue -%}{%- endunless -%}
    {% if product.id != skip_product.id  %}

      {% assign mod = cell_number | modulo: products_per_row %}
      {% assign greek = "" %}
      {% if mod == 0 %}
        {% assign greek = "alpha" %}
      {% elsif mod == mod_stop %}
        {% assign greek = "omega" %}
      {% endif %}

      {% include 'product-thumbnail', sidebar: sidebar, greek: greek %}

      {% if mod == mod_stop %}{{ new_row }}{% endif %}
      {% assign cell_number = cell_number | plus: 1 %}

      {% comment %}
      {% if products_per_row == 2 %}
        {% cycle collection_group: '', new_row %}
      {% elsif products_per_row == 3 %}
        {% cycle collection_group: '', '', new_row %}
      {% elsif products_per_row == 4 %}
        {% cycle collection_group: '', '', '', new_row %}
      {% endif %}
      {% endcomment %}
    {% endif %}
  {% endfor %}
</div>
