{%- assign is-wholesale = false -%}
{%- if product.tags contains "wholesale-pizza" or product.tags contains "wholesale-pasta" -%}
  {%- assign is-wholesale = true -%}
{%- endif -%}

{% if product.available %}

  {% if section.settings.show_payment_button %}
    {% assign show_payment_button = true %}
  {% elsif show_payment_button_quickshop %}
    {% assign show_payment_button = true %}
  {% else %}
    {% assign show_payment_button = false %}
  {% endif %}

  {% assign variant = product.selected_or_first_available_variant %}

  <div class="clearfix product_form init
        {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}"
        id="product-form-{{ product.id }}{{ section.id }}{{ block.id }}"
        data-money-format="{{ shop.money_format }}"
        data-shop-currency="{{ shop.currency }}"
        data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
        data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
        data-product="{{ product | json | escape }}"
        {% if settings.limit_quantity or settings.display_inventory_left %}
          data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
        {% endif %}
        data-product-id="{{ product.id }}">
    {% form 'product', product, data-productid: product.id %}

    {% include 'size-chart-popup' %}

    {% if product.options.size > 1 %}
      <div class="select">
        <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" data-productid="{{ product.id }}" class="multi_select">
          {% for v in product.variants %}
            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% elsif product.options.size == 1 and product.variants.size > 1 or product.options.size == 1 and product.options[0] != "Title" %}
      <div class="select">
        <label>{{ product.options[0] }}</label>
        <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" data-productid="{{ product.id }}">
          {% for v in product.variants %}
            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% else %}
      <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ variant.id }}" />
    {% endif %}

    {% if settings.product_form_style == "swatches" and product.variants.size > 1 or settings.product_form_style == "swatches" and product.options[0] != "Title" %}
      <div class="swatch_options">
        {% for option in product.options %}
          {% include 'product-swatch' with option %}
        {% endfor %}
      </div>
    {% endif %}

    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if variant.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}
          {% if variant.inventory_quantity <= settings.inventory_threshold %}
            <p>{{ variant.inventory_quantity }} {{ items_left_text }}</p>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {%- if is-wholesale == false -%}
      {% include 'subscription-bundles-callout' %}
      <div id="pizza-icon">
        <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.56 131.76"><path d="M159.56,72.94h-8.45v8.51h-6.92v-8.51h-8.45v-6.86h8.45v-8.45h6.92v8.45h8.45v6.86Z" style="fill:#d8ad67;"/><g><circle cx="23.83" cy="65.32" r="7.98" style="fill:#d8ad67;"/><circle cx="68.82" cy="48.73" r="5.48" style="fill:#d8ad67;"/><path d="M46.64,29.3l3.81-7,7.83,4.26-3.81,7-7.83-4.26Z" style="fill:#d8ad67;"/><path d="M58.51,88.44l2.94-5.4,6.04,3.29-2.94,5.4-6.04-3.29Z" style="fill:#d8ad67;"/><path d="M69.12,65.99l19.24-17.93h0s6.14-5.72,6.14-5.72l14.53-13.54,6.65-6.2-1.55-1.66C89.34-5.64,47.56-7.12,20.97,17.67,8.1,29.67,.66,45.97,.04,63.56c-.62,17.59,5.65,34.37,17.65,47.25,12.39,13.29,29.03,20.31,45.9,20.9,16.87,.59,33.96-5.23,47.25-17.62l1.66-1.55-6.2-6.65-37.19-39.9Zm18.19-26.65c.09-2.5,2.2-4.47,4.7-4.38,.99,.03,1.92,.39,2.67,1l-3.28,3.06-3.28,3.06c-.55-.79-.84-1.74-.81-2.73Zm4.86-8.93c-5.01-.18-9.23,3.75-9.4,8.77-.08,2.22,.66,4.32,2.02,5.99l-22.09,20.59,37.16,39.86c-21.13,18.06-53.05,16.42-72.18-4.11-19.65-21.09-18.48-54.23,2.6-73.88,10.54-9.82,24.1-14.45,37.48-13.97,12.67,.45,25.18,5.46,34.82,14.95l-4.55,4.24c-1.57-1.48-3.62-2.36-5.84-2.44Zm-28.42,96.79c-16.38-.58-31.56-7.5-42.73-19.49-11.18-11.99-17.01-27.61-16.44-44,.58-16.38,7.5-31.56,19.49-42.73C36.06,9.81,51.68,3.98,68.07,4.55c15.62,.55,30.15,6.87,41.15,17.85l-3.34,3.11C84.36,4.18,49.53,3.47,27.17,24.32,4.25,45.68,2.99,81.7,24.35,104.62c10.68,11.46,25.03,17.51,39.57,18.02,13.83,.49,27.84-4.05,39.04-13.68l3.11,3.34c-11.75,10.18-26.68,15.47-42.31,14.92Z" style="fill:#d8ad67;"/><path d="M64.71,99.95c-.18,5.01,3.75,9.23,8.77,9.4s9.23-3.75,9.4-8.77-3.75-9.23-8.77-9.4-9.23,3.75-9.4,8.77Zm9.24-4.22c2.51,.09,4.47,2.2,4.38,4.7s-2.2,4.47-4.7,4.38-4.47-2.2-4.38-4.7,2.2-4.47,4.7-4.38Z" style="fill:#d8ad67;"/><path d="M42.56,83.25c-5.01-.18-9.23,3.76-9.4,8.77s3.75,9.23,8.77,9.4,9.23-3.75,9.4-8.77-3.76-9.23-8.77-9.4Zm-.48,13.63c-2.51-.09-4.47-2.2-4.38-4.7s2.2-4.47,4.7-4.38,4.47,2.2,4.38,4.7-2.2,4.47-4.7,4.38Z" style="fill:#d8ad67;"/><path d="M36.99,53.41c5.01,.18,9.23-3.75,9.4-8.77s-3.76-9.23-8.77-9.4-9.23,3.75-9.4,8.77,3.75,9.23,8.77,9.4Zm.48-13.63c2.5,.09,4.47,2.2,4.38,4.7s-2.2,4.47-4.7,4.38-4.47-2.2-4.38-4.7,2.2-4.47,4.7-4.38Z" style="fill:#d8ad67;"/><path d="M55.27,54.49c-3.13-.11-5.77,2.35-5.88,5.48s2.35,5.77,5.48,5.88,5.77-2.35,5.88-5.48-2.35-5.77-5.48-5.88Zm-.3,8.52c-1.57-.06-2.79-1.37-2.74-2.94s1.37-2.79,2.94-2.74,2.79,1.37,2.74,2.94-1.37,2.79-2.94,2.74Z" style="fill:#d8ad67;"/><path d="M66.07,28.98c-.04,1.26,.94,2.31,2.19,2.35s2.31-.94,2.35-2.19c.09-2.5,2.2-4.47,4.7-4.38,1.25,.04,2.31-.94,2.35-2.19s-.94-2.31-2.19-2.35c-5.01-.18-9.23,3.76-9.4,8.77Z" style="fill:#d8ad67;"/><path d="M57.3,98.76c-1-.76-2.42-.57-3.19,.42-.76,1-.57,2.43,.43,3.19,1.99,1.52,2.37,4.38,.85,6.37-.76,1-.57,2.43,.43,3.19,.39,.3,.84,.45,1.3,.47,.71,.03,1.42-.28,1.89-.89,3.04-3.99,2.28-9.7-1.7-12.75Z" style="fill:#d8ad67;"/><path d="M57.13,76.02c.88,.03,1.76-.17,2.55-.59,1.11-.58,1.54-1.96,.95-3.07-.58-1.11-1.95-1.54-3.07-.95-.17,.09-.33,.07-.43,.04-.1-.03-.24-.11-.33-.28-1.31-2.5-4.41-3.46-6.91-2.15-.28,.14-.62,.03-.77-.24-.64-1.21-1.7-2.1-3.01-2.51s-2.69-.28-3.9,.36c-1.11,.58-1.54,1.96-.95,3.07,.58,1.11,1.96,1.54,3.07,.95,.17-.09,.33-.07,.43-.04,.1,.03,.24,.11,.33,.28,1.31,2.49,4.41,3.46,6.91,2.15,.28-.15,.62-.04,.77,.24,.64,1.21,1.71,2.1,3.01,2.51,.44,.14,.89,.21,1.35,.23Z" style="fill:#d8ad67;"/></g><path d="M102.44,46.65h22.97v6.71h-16.95l-1.27,8.16c2.31-1.12,4.86-1.68,7.64-1.68,2.47,0,4.73,.59,6.8,1.76,2.06,1.18,3.69,2.84,4.89,5,1.2,2.16,1.79,4.63,1.79,7.41,0,2.55-.63,4.91-1.88,7.09-1.25,2.18-3.02,3.92-5.29,5.24-2.28,1.31-4.86,1.97-7.75,1.97s-5.65-.63-7.93-1.88c-2.28-1.25-4.02-2.91-5.24-4.98-1.22-2.06-1.82-4.27-1.82-6.62h7.11c.08,1.77,.84,3.28,2.29,4.51,1.45,1.23,3.27,1.85,5.47,1.85s4.12-.69,5.64-2.08,2.29-3.2,2.29-5.44-.75-4.15-2.26-5.5c-1.5-1.35-3.39-2.02-5.67-2.02-1.58,0-3.08,.39-4.51,1.16-1.43,.77-2.41,1.87-2.95,3.3h-7" style="fill:#d8ad67;"/></svg>
        <p style="padding-top:1em;">Minimum 5 items (any combo) per order.</p>
      </div>
    {%- else -%}
      <div id="pizza-icon">
        <p style="padding-top:1em; padding-left: 0;">Minimum 2 cases (any combo) per order.</p>
      </div>
    {%- endif -%}

    <div class="purchase-details smart-payment-button--{{ show_payment_button }}">
      {% if settings.display_product_quantity %}
        <div class="purchase-details__quantity">
          <label class="visuallyhidden" for="quantity">{{ 'products.product.quantity' | t }}</label>
          <span class="product-minus js-change-quantity js-change-quantity__minus" data-func="minus"><span class="icon-minus"></span></span>
          <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if settings.limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />
          <span class="product-plus js-change-quantity js-change-quantity__plus" data-func="plus"><span class="icon-plus"></span></span>
        </div>
      {% endif %}
      <div class="purchase-details__buttons">
        {% if settings.cart_action == 'reload_page' %}
          <input type="hidden" name="return_to" value="back" />
        {% elsif settings.cart_action == 'redirect_checkout' %}
          <input type="hidden" name="return_to" value="/checkout" />
        {% endif %}

        {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
        <button type="{% if settings.cart_action == 'ajax' %}button{% else %}submit{% endif %}" name="add" class="{% if settings.cart_action == 'ajax' %} ajax-submit {% endif %}Rise-add-to-cart-button action_button add_to_cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
        {% if show_payment_button %}
          {{ form | payment_button }}
        {% endif %}
      <div style="display:none" class="gwbutton action_button add_to_cart">Send as a Gift</div>
      </div>
    </div>
    <div class="continue_shopping">
      <a {% if product-form %}href="{% if collection.url != blank %}{{ collection.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}"{% else %}href="javascript:void(0);" class="close"{% endif %}>{{ 'layout.general.continue_shopping' | t }}</a> {{ 'layout.general.or' | t }} {{ 'layout.general.view_cart_html' | t }}
    </div>
  {% endform %}
</div>
{% endif %}
