<div class="subscription-bundles-callout">
      <h4>Save 10% When You Subscribe</h4>
      <p>Keep Katie’s in your kitchen with subscription packs. Your favorite pizzas and pastas delivered directly to your doorstep, as often as you’d like.</p>
      <p class="text-center"><a href="/products/pizza-pack">Pizza Pack</a> &nbsp; <a href="/products/pasta-pack">Pasta Pack</a> &nbsp; <a href="/products/mixed-pack">Mixed Pack</a></p>
</div>