<div class="zip-code-check">
  <h2>SHIPPING</h2>
  <h3>Please allow 2-3 business days for processing. Local deliveries are made Monday - Thursday by our team.<br>100% of shipping charge goes to our team while our dining rooms are restricted.<br>Out-of-area orders are shipped through FedEx and go out on Mondays only. </h3>
  <p>Make sure you live within the delivery area.</p>
<form id="zipCheckForm">
  <label for="zipCodeToCheck">Enter your zip code.<label>
  <input type="text" id="zipCodeToCheck" name="zipCode" required pattern="[0-9]{5}">
  <input type="submit" value="Check My Zip Code">
</form> 
<p id="zipYes" style="display:none">Yes, we deliver to your location.</p>
<p id="zipNo" style="display:none">Sorry you live outside our delivery area.</p>
</div>
  
<script>

  $("#zipCheckForm").submit(function(event){
    var value = $("#zipCodeToCheck").val().trim();
    $.get("https://theloft.biz/api/kppo/IsZipCodeInDeliveryArea?zipcode=" + value, function(data){
        if(!data.Success) {
          alert('There was an error validating your zip code, please try again later!');
      }
        else {
          if(data.InArea) {
              $("#zipYes").show();
              $("#zipNo").hide();
            }
            else {
              $("#zipYes").hide();
              $("#zipNo").show();                       
            }
        }
      
    }).fail(function() {
      alert('There was an error validating your zip code, please try again later!');
    });
    
    
    event.preventDefault();  
  });
</script>