<!DOCTYPE html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">

    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}

    {%- if search.performed -%}
      {%- assign true_search_count = 0 -%}
      {%- for item in search.results %}
        {%- if item.object_type == "product" -%}
          {% if item.handle == "food-bank-pizza-donation" or item.tags contains "Free" -%}
            {%- continue -%}
          {% endif %}
        {%- endif -%}
        {%- assign true_search_count = true_search_count | plus: 1 -%}
      {%- endfor -%}
      {%- assign plural = "s" -%}
      {%- if true_search_count == 1 -%}
        {%- assign plural = "" -%}
      {%- endif -%}
      {%- capture quote_char -%}"{%- endcapture -%}
      {%- assign search_title = "Search: " | append: true_search_count | append: " result" | append: plural | append: " found for " | append: quote_char | append: search.terms | append: quote_char -%}
    {%- endif -%}

    <title>{% if template contains "index" %}{{ page_title }}{% elsif template == "search" %}{{ search_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
    {% endif %}

    {% comment %}{% include 'social-meta-info' %}{% endcomment %}

    {% if collection.previous_product %}
      <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}
    {% if collection.next_product %}
      <link rel="next" href="{{ collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">

    <!-- Social Share -->
    <meta property="og:image" content="https://cdn.shopify.com/s/files/1/0364/7432/3076/t/3/assets/social-share.jpg?v=1706804549" />
    <meta property="og:description" content="All of our products are made in house from scratch with the best ingredients and the same team of KPPO chefs." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.katiespizza.com" />
    <meta property="og:title" content="Katie&#39;s Pizza and Pasta" />


    <!-- Stylesheets for Mobilia 6.2.0 -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}

    <!-- Favicons -->
    {% include 'favicons' %}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="canonical" href="{{ canonical_url }}" />

    {% if template contains 'customer' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'app.js' | asset_url | script_tag }}
    {{ content_for_header }}
{%- render 'bold-common' -%}
    {% if template == 'product' and product.metafields.inventory.ShappifyHidden or product.type contains '_HIDDEN_' %}<meta name='robots' content='noindex'>{% endif %}

    <noscript>
      <style>
        .image__fallback {
          width: 100vw;
          display: block !important;
          max-width: 100vw !important;
          margin-bottom: 0;
        }
        .no-js-only {
          display: inherit !important;
        }
        .icon-cart.cart-button {
          display: none;
        }
        .lazyload {
          opacity: 1;
          -webkit-filter: blur(0);
          filter: blur(0);
        }
        .animate_right,
        .animate_left,
        .animate_up,
        .animate_down {
          opacity: 1;
        }
        .product_section .product_form {
          opacity: 1;
        }
        .multi_select,
        form .select {
          display: block !important;
        }
        .swatch_options {
          display: none;
        }
      </style>
    </noscript>

    {% if template == "index" %}
      {% assign donation-count = 0 %}
      {% for item in cart.items %}
        {% if item.product.handle == "food-bank-pizza-donation" %}
          {% assign donation-count = donation-count | plus: 1 %}
        {% endif %}
      {% endfor %}
      {% if donation-count == 0 %}
        <script>
          function doAjax(url, callback, data) {
              var xhr = new XMLHttpRequest();
              xhr.open(data ? "POST" : "GET", url);
              if (callback) xhr.onreadystatechange = function() {
                  if (xhr.readyState === XMLHttpRequest.DONE) callback(xhr.response,
                      xhr.status === 0 || xhr.status >= 200 && xhr.status < 400);
              };
              if (data) {
                  xhr.setRequestHeader("Content-Type", "application/json");
                  xhr.send(JSON.stringify(data));
              } else xhr.send();
          }
          function donate(button) {
            button.setAttribute("disabled", "");
            button.innerText        = "Please wait...";
            button.style.transition = "background: 0.1s ease-in-out";
            button.style.background = "#b8b8b8";
            button.style.cursor     = "wait";
            doAjax("/cart/update.js", function() { location.href = "/cart"; }, { updates: {
              [{{ all_products["food-bank-pizza-donation"].variants[0].id }}]: 1
            } });
          }
        </script>
      {% else %}
        <style>
          #homepage-donate-button { display: none; }
        </style>
      {% endif %}
    {% endif %}

    {%- render "cart-script", cart: cart -%}
  </head>
  <body class="{{ template | replace: '.', '-' | handle }}"
    data-money-format="{{ shop.money_format }}"
    data-shop-currency="{{ shop.currency }}">

    {% section 'header' %}

    <div {% unless template contains "index" or template contains "article" or template contains "banner" or template contains "page.details" or template contains 'contact' or template contains 'faq' or template contains 'page.rewards' %}class="container"{% endunless %}>
        {{ content_for_layout }}
    </div> <!-- end container -->

    {% include 'cart-shipping-calculator' %}
    {% section 'footer' %}

    {% if settings.size_chart != blank %}
      <div id="size-chart" class="size_chart_content">
        <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
        {{ pages[settings.size_chart].content }}
      </div>
    {% endif %}

    {% include 'newsletter-popup' %}
    {% if settings.show_multiple_currencies %}
      {% include 'currencies' %}
    {% endif %}
    {% if settings.disqus_enabled %}
      {% if template contains "blog" or template contains "article" or template contains "index" %}
        <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
      {% endif %}
    {% endif %}

    <script>
      window.EXCLUDE_IDS = {
        {%- comment -%}{%- unless all_products["food-bank-pizza-donation"].empty? -%}
          [{{ all_products["food-bank-pizza-donation"].id }}]: true,
        {%- endunless -%}{%- endcomment -%}
        {% unless all_products["auto-gift-card"          ].empty? %}
          [{{ all_products["auto-gift-card"          ].id }}]: true,
        {% endunless %}
      };
    </script>

    <!--Script for the Accordions on Product pages-->
    <script>
    var acc = document.getElementsByClassName("accordion");
var i;
var last;
var alwaysOneOpen = true;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    // If the same accordion was clicked, toggle it
    if (last === this && !alwaysOneOpen) {
      toggleAccordion(last);
    } else {
      // If another accordion was open, close it
      if (last) {
        closeAccordion(last);
      }
      // Open clicked accordion
      last = this;
      openAccordion(last);
    }
  };
}

var closeAccordion = function(acc) {
  acc.classList.remove("active");
  var panel = acc.nextElementSibling;
    panel.classList.remove("active");
  panel.style.maxHeight = null;
}

var openAccordion = function(acc) {
  acc.classList.add("active");
  var panel = acc.nextElementSibling;
    panel.classList.add("active");
  panel.style.maxHeight = panel.scrollHeight + "px";
}

var toggleAccordion = function(acc) {
  if (!last) return;
  last.classList.toggle("active");
  var panel = last.nextElementSibling;
  panel.classList.toggle("active");
  if (panel.style.maxHeight) {
    panel.style.maxHeight = null;
  } else {
    panel.style.maxHeight = panel.scrollHeight + "px";
  }
};

last = acc[0];
toggleAccordion(last);

    </script>

  </body>
</html>
