<style>
[name="OfferDonation"] {
  overflow  : hidden;
  position  : relative;
  transition: height 0.5s ease-in-out;
}

[name="OfferDonation"] [aria-controls] {
  background: transparent;
  color     : currentcolor;
  font-size : 1.2em;
  position  : absolute;
  right     : 18px;
  top       : 18px;
  width     : auto;
}

@media (max-width: 799px) {
  #Items .columns {
    float: none;
  }
  #Totals {
    display: grid;
    gap    : 12px;
    grid-template-columns: auto max-content;
  }
  #Totals .columns {
    width: auto;
  }
  [name="OfferDonation"] {
    height: 50px;
  }
}
@media (min-width: 800px) {
  [name="OfferDonation"] {
    margin: 0 10px;
  }
  [name="OfferDonation"] [aria-controls] {
    display: none;
  }
}
</style>

<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title" style="line-height:1em; padding: 0 1em .5em 0;">{{ 'cart.general.title' | t }}</h1>
  <!--<div>
    <p class="cart-header-note">Deadline for guaranteed out of town Christmas delivery is Friday, December 18TH. KPPO Gift Cards for use in restaurant only.</p>
  </div>-->
</div>

<div id="NoProducts" class="sixteen columns" style="display: none;">

  <div id="OfferDonation1" name="OfferDonation" aria-expanded="false" style="display: none; background: #eeeeee; padding: 10px 30px 20px 30px; text-align:center;">
    <div>
      <button type="button" aria-controls="OfferDonation1" onclick="toggleDonationExpanded()">+</button>
      <div>
        <h4 style="text-align:center; margin-bottom:5px;" onclick="toggleDonationExpanded()">FEED THE NEED</h4>
        <div class="feature_divider" style="margin-top: 0; margin-bottom: 10px;"></div>
        <p>Click the button below, select how many pizzas you would like to donate and we’ll drop them off to local area food banks. Recipients include Operation Food Search, STL Foodbank, Oasis Food Pantry, St. Patrick Center, and Isaiah 58. <a href="/#feed-need">Click here to learn more ></a></p>
      </div>
      <button type="button" style="width: auto;" onclick="changeQuantity('{{ all_products['food-bank-pizza-donation'].variants[0].id }}', '', 1);">Donate Pizza</button>
    </div>
  </div>

  <div class="section clearfix">
    <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>
    <br class="clear" />
    <br class="clear" />
  </div>
</div>
<script>
  if (shoppingCart.items.length == 0)
    document.getElementById("NoProducts").style.removeProperty("display");
</script>

<div id="YesProducts" style="display: none;">

  <div class="sixteen columns">
    <div class="clearfix breadcrumb">
      <a href="{{ routes.all_products_collection_url }}">
        <span class="icon-arrow-left" aria-hidden="true"></span>
        {{ 'cart.general.continue_shopping_link_html' | t }}
      </a>
    </div>
  </div>

  <div style="display: grid; grid-template-columns: 100%; row-gap: 16px; clear: both;">
    <div id="OfferFreebie" style="margin: 0 10px; background: #eeeeee; padding: 10px 30px 15px 30px; text-align:center; display: none; grid-template-columns: 100%; row-gap: 16px; align-items: center;">

      <div>
        <h4 style="text-align:center; margin-bottom: 5px;">FREE ITEM</h4>
        <div class="feature_divider" style="margin-top: 0; margin-bottom: 10px;"></div>
        <p>You’ve unlocked a free item! Select one from the options below.</p>
      </div>

      <div style="position: relative;">
        <div style="position: absolute; top: 0; width: 20px; bottom: 20px; left : 0; background: linear-gradient(90deg, #eeeeeeff 0%, #eeeeee00 100%);"></div>
        <div style="position: absolute; top: 0; width: 20px; bottom: 20px; right: 0; background: linear-gradient(-90deg, #eeeeeeff 0%, #eeeeee00 100%);"></div>
        <div name="chevLeft"  style="position: absolute; top: 0; width: 20px; bottom: 20px; left : -20px; display: flex; align-items: center; justify-content: center; font-size: 40px; cursor: pointer; user-select: none;">&lsaquo;</div>
        <div name="chevRight" style="position: absolute; top: 0; width: 20px; bottom: 20px; right: -20px; display: flex; align-items: center; justify-content: center; font-size: 40px; cursor: pointer; user-select: none;">&rsaquo;</div>
        <div name="free-pizzas" style="display: flex; overflow-x: auto; align-items: stretch; row-gap: 16px; padding: 0 20px 15px 20px; justify-content: flex-start;">
          {% for product in collections["promotional-items"].products %}
            <div product-id="{{ product.id }}" variant-id="{{ product.variants[0].id }}" style="display: inline-flex; flex-direction: column; row-gap: 8px; align-items: center; width: 200px; min-width: 200px; text-align: center;">
              <div style="flex-grow: 1; line-height:23px;">{{ product.title | replace: "FREE ", "<b>FREE</b><br>" }}</div>
              <button type="button" onclick="changeQuantity('{{ product.variants[0].id | json }}', '', 1);" style="width: max-content; border: none; padding: 0; margin: 0; background: transparent;"><img src="{{ product.featured_image | img_url: '100x100' }}"></button>
              <button type="button" style="width: auto;" onclick="changeQuantity('{{ product.variants[0].id | json }}', '', 1);">Add</button>
            </div>
          {% endfor %}
          <div name="bookend"></div>
        </div>
        <script>
          (()=>{
            let freebies  = document.querySelector("#OfferFreebie [name='free-pizzas']");
            let bookend   = document.querySelector("#OfferFreebie [name='bookend']");
            let chevLeft  = document.querySelector("#OfferFreebie [name='chevLeft']");
            let chevRight = document.querySelector("#OfferFreebie [name='chevRight']");
            chevLeft .addEventListener("pointerdown", function() { freebies.scrollTo({ left: freebies.scrollLeft - 200, behavior: "smooth" }); });
            chevRight.addEventListener("pointerdown", function() { freebies.scrollTo({ left: freebies.scrollLeft + 200, behavior: "smooth" }); });
            let respond   = function() {
                let freeBound = freebies.getBoundingClientRect();
                let endBound  = bookend.getBoundingClientRect();
                chevLeft.style.display = freebies.scrollLeft > 0 ? "flex" : "none";
                chevRight.style.display = endBound.x - freeBound.x <= freeBound.width - 20 ? "none": "flex";
            };
            new ResizeObserver(respond).observe(freebies);
            freebies.addEventListener("scroll", respond);
            respond();
          })();
        </script>
      </div>

{%- comment -%}
      <div style="text-align: center; color: #d8ad67; font-size: 1.2em; font-weigh: bold;">
        &mdash; OR &mdash;
      </div>
{%- endcomment -%}
    </div>

    <div id="OfferGiftCard" variant-id="{{ all_products['20-promo-gift-card'].variants[0].id }}" style="margin: 0 10px; background: #eeeeee; padding: 10px 30px 15px 30px; text-align:center; display: none; grid-template-columns: 100%; row-gap: 16px; align-items: center;">
      <div>
        <h4 style="text-align:center; margin-bottom:5px;">FREE GIFT CARD</h4>
        <div class="feature_divider" style="margin-top: 0; margin-bottom: 10px;"></div>
        <p>Your order qualifies for a free $20 gift card.</p>
        <p>If you want to use a gift card when you pay for your order, do not claim the free gift card.</p>
      </div>

      <div style="text-align: center; display: flex; flex-direction: column; align-items: center; row-gap: 6px;">
        <button type="button" style="width: max-content; border: none; background: transparent; padding: 0;" onclick="changeQuantity('{{ all_products['20-promo-gift-card'].variants[0].id | json }}', '', 1);"><img src="{{ all_products['20-promo-gift-card'].featured_image | img_url: '100x100' }}"></button>
        <button type="button" style="width: max-content;" onclick="changeQuantity('{{ all_products['20-promo-gift-card'].variants[0].id | json }}', '', 1);">Add Free $20 Restaurant Gift Card</button>
      </div>

    </div>

    <div id="OfferDonation2" name="OfferDonation" aria-expanded="false" style="display: none; background: #eeeeee; padding: 10px 30px 20px 30px; text-align:center;">
      <div>
        <button type="button" aria-controls="OfferDonation2" onClick="toggleDonationExpanded()">+</button>
        <div>
          <h4 style="text-align:center; margin-bottom:5px;" onclick="toggleDonationExpanded()">FEED THE NEED</h4>
          <div class="feature_divider" style="margin-top: 0; margin-bottom: 10px;"></div>
          <p>Click the button below, select how many pizzas you would like to donate and we’ll drop them off to local area food banks. Recipients include Operation Food Search, STL Foodbank, Oasis Food Pantry, St. Patrick Center, and Isaiah 58. <a href="/#feed-need">Click here to learn more ></a></p>
        </div>
        <button type="button" style="width: auto;" onclick="changeQuantity('{{ all_products['food-bank-pizza-donation'].variants[0].id }}', '', 1);">Donate Pizza</button>
      </div>
    </div>

  </div>

  <div class="sixteen columns" style="margin-top: 16px;">

    <div class="checkout_table_header">
      <div class="eight columns alpha">
        <h4>{{ 'cart.general.item' | t }}</h4>
      </div>
      <div class="two columns">
        <h4>{{ 'cart.general.price' | t }}</h4>
      </div>
      <div class="two columns">
        <h4>{{ 'cart.general.quantity' | t }}</h4>
      </div>
      <div class="four columns omega">
        <h4>{{ 'cart.general.total' | t }}</h4>
      </div>
    </div>

    <div id="Items"></div>
    <div id="ItemTemplate" style="display: none;">

      <div class="eight columns title_column alpha" style="display: flex; align-items: center; gap: 4px;">
        <div class="cart_image">
          <img name="Image" style="min-width: 100px; min-height: 100px;">
          <div name="BundleImages" style="display: none; position: relative; width: 100px; height: 100px; margin-right: 20px;">
{%- comment -%}
            <img style="position: absolute; width: 60px; height: 60px; left:  0px; top:  0px;">
            <img style="position: absolute; width: 60px; height: 60px; left: 10px; top: 10px;">
            <img style="position: absolute; width: 60px; height: 60px; left: 20px; top: 20px;">
            <img style="position: absolute; width: 60px; height: 60px; left: 30px; top: 30px;">
            <img style="position: absolute; width: 60px; height: 60px; left: 40px; top: 40px;">
{%- endcomment -%}
            <img style="position: absolute; width: 49px; height: 49px; left:  0px; top:  0px;">
            <img style="position: absolute; width: 49px; height: 49px; left: 51px; top:  0px;">
            <img style="position: absolute; width: 49px; height: 49px; left:  0px; top: 51px;">
            <img style="position: absolute; width: 49px; height: 49px; left: 51px; top: 51px;">
            <img style="position: absolute; width: 48px; height: 48px; left: 26px; top: 26px; outline: 2px solid #ffffff;">
          </div>
        </div>
{%- comment -%}
        <div class="cart_price">
          <span class="money" name="PriceMobile">$1.23</span>
        </div>
{%- endcomment -%}
        <div name="Title">
          <div>
            <a name="YesLink"></a>
            <span name="NoLink" style="cursor: default; color: #a78754;"></span>
          </div>
          <div style="font-size: 0.8em; line-height: 1.5em;">
            <div name="BundleContents" style="display: none;"></div>
            <div name="GiftCardMessage" style="display: none;">
                Can only be used online. Not valid in restaurants.
            </div>
            <div name="SendAsGift" style="display: none;">
                Gift for: <span name="Recipient"></span>
            </div>
          </div>
        </div>

        {% comment %}
        {% unless item.product.has_only_default_variant or item.variant.title contains "Title" or item.product.tags contains "Virtual" or item.product.handle == "rise-ai-giftcard" %}
          <p class="meta">
            {% for option in item.product.options %}
              <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
            {% endfor %}
          </p>
        {% endunless %}

        {% if item.properties %}
          <p>
          {% for p in item.properties %}
            {%- if p.first.first == '_' -%}{%- continue -%}{%- endif -%}
            {% unless p.last == blank %}
              {% if p.last contains '/uploads/' %}
                {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a><br />
              {% else %}
                {{ p.first }}: {{ p.last }}<br />
              {% endif %}
            {% endunless %}
          {% endfor %}
          </p>
        {% endif %}
        {% endcomment %}

      </div>

      <div name="PriceDesktop" class="two columns">
        <div class="price-total">
          <div name="Final" class="money">$4.56</div>
          <div name="Original" class="money was_price" style="display: none; margin-left: 4px;"></div>
        </div>
      </div>

      <div name="Quantity" class="two columns mobile_right" style="min-height: 44px; display: flex; align-items: center; justify-content: flex-start; column-gap: 4px; margin-top: 4px;">
        <div class="cart_price" style="padding: 0; min-width: 100px; text-align: center; font-size: 1.2em;">
          <span class="money" name="PriceMobile">$1.23</span>
        </div>
        <div class="quantity_label" style="flex-grow: 1000;">{{ 'cart.general.quantity' | t }}:</div>
        <input name="YesInput" style="display: none; margin: 0;" no-disable="" type="number" min="1" size="2" class="quantity" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %}>
        <div name="NoInput" style="display: none; flex-grow: 1;"></div>
        <div name="Remove" style="display: none;" class="price-total-text"><!-- Only visible to mobile -->
          <button type="button">{{ 'cart.general.remove' | t }}</button>
        </div>
      </div>

      <div class="four columns mobile_right omega">
        <div class="price-total">
          <div class="price-total__container" style="display: grid; grid-template-columns: auto max-content; column-gap: 4px;">
            <div name="Total" class="money"></div>
            <button type="button" name="Remove" no-disable="" style="display: none; padding: 0; margin: 0 4px; background: transparent; border: none;" title="{{ 'cart.general.remove' | t }}" class="right mobile_hidden remove"><span class="icon-close" aria-hidden="true"></span></button>
          </div>
        </div>
      </div>

      <div class="sixteen columns clearfix alpha omega">
        <hr />
      </div>

    </div>
    <div id="Totals">
      <div class="twelve columns alpha">
        <h4 class="subtotal" style="border: none;">
          <div style="display: grid; grid-template-columns: auto; text-align: right;">
            <div class="regular">Cart total</div>
            <div class="regular" is-shipping>Shipping</div>
            <div class="bold">{{ 'cart.general.subtotal' | t }}</div>
          </div>
        </h4>
      </div>
      <div class="four columns omega">
        <h4 class="subtotal-price" style="border: none;">
          <div style="display: inline-grid; grid-template-columns: auto; text-align: right;">
            <div name="Total"     class="money regular"></div>
            <div name="Shipping"  class="money regular" is-shipping>&nbsp;</div>
            <div name="ShipTotal" class="money bold">&nbsp;</div>
          </div>
        </h4>
      </div>
    </div>

      {% if section.settings.display_special_instructions %}
        <div id="Notes" class="ten columns alpha">
          <div name="DeliveryInstructions">
            <label for="DeliveryInstructions">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
            <textarea id="DeliveryInstructions" rows="4" oninput="noteChanged()" no-disable=""></textarea>
          </div>
          <div name="GiftCardAddress" style="display: none;">
            <label for="GiftCardAddress">Restaurant Gift Card Alternate Shipping Address: (optional)</label>
            <textarea id="GiftCardAddress" rows="4" oninput="noteChanged()" no-disable=""></textarea>
          </div>
        </div>
      {% endif %}

      <div class="four columns {% if section.settings.display_special_instructions %}offset-by-two omega{% else %}offset-by-twelve alpha omega{% endif %}">
        {% comment %}
        <small id="estimated-shipping" style="display:none">+ <em><span class="money">{{ 0 | money }}</span></em> {{ 'cart.shipping_calculator.estimated_shipping' | t }}</small>
        {% endcomment %}

        <form id="YesCheckout" action="/cart" method="post" id="cart_form">
          <div>
            <small class="excluding_tax"><em>{{ 'cart.general.excluding_tax_shipping' | t }}</em></small>
          
            {% if settings.show_multiple_currencies %}
              <small>
                <em>{{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}</em>
              </small>
            {% endif %}

            {%- comment -%}
            <div class="tos_checkbox" style="margin-bottom: 8px;">
              <input type="checkbox" class="tos_agree" id="cart_agree" required />
              <!--<span class="checkmark"></span>-->
              <label class="tos_label" for="cart_agree">
              
                {% if settings.tos_richtext != blank %}
                  {{ settings.tos_richtext }}
                {% else %}
                  {{ 'cart.general.agree_to_terms_html' | t }}
                {% endif %}
              </label>
            </div>
            {%- endcomment -%}

            <div class="tos_checkbox" style="margin-bottom: 8px;">
              <p class="tos_label" style="margin: 0;"><strong>Please allow 2-3 business days for processing.</strong></p>
            </div>

          </div>

          <div class="add-to-cart-wrap" style="visibility: hidden; height: 0; overflow: hidden; marign: 0; padding: 0;">
            <div class="Rise__quick-apply-placeholder"></div>
            <input type="submit" class="action_button" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
          </div>
          <button type="button" class="action_button" style="height: 55px;" onclick="checkoutCart()">{{ 'cart.general.checkout' | t }}</button>
          {% if content_for_additional_checkout_buttons %}
            <!--<div class="additional-checkout-buttons additional-checkout-buttons--vertical">
             {{ content_for_additional_checkout_buttons }}
            </div>-->
          {% endif %}
        </form>
        <div id="NoCheckout">

          <div name="MinQuantity" style="display: flex; align-items: center; margin-bottom: 4px;">
            <svg style="height: 55px; margin-right: 4px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.56 131.76"><path d="M159.56,72.94h-8.45v8.51h-6.92v-8.51h-8.45v-6.86h8.45v-8.45h6.92v8.45h8.45v6.86Z" style="fill:#d8ad67;"></path><g><circle cx="23.83" cy="65.32" r="7.98" style="fill:#d8ad67;"></circle><circle cx="68.82" cy="48.73" r="5.48" style="fill:#d8ad67;"></circle><path d="M46.64,29.3l3.81-7,7.83,4.26-3.81,7-7.83-4.26Z" style="fill:#d8ad67;"></path><path d="M58.51,88.44l2.94-5.4,6.04,3.29-2.94,5.4-6.04-3.29Z" style="fill:#d8ad67;"></path><path d="M69.12,65.99l19.24-17.93h0s6.14-5.72,6.14-5.72l14.53-13.54,6.65-6.2-1.55-1.66C89.34-5.64,47.56-7.12,20.97,17.67,8.1,29.67,.66,45.97,.04,63.56c-.62,17.59,5.65,34.37,17.65,47.25,12.39,13.29,29.03,20.31,45.9,20.9,16.87,.59,33.96-5.23,47.25-17.62l1.66-1.55-6.2-6.65-37.19-39.9Zm18.19-26.65c.09-2.5,2.2-4.47,4.7-4.38,.99,.03,1.92,.39,2.67,1l-3.28,3.06-3.28,3.06c-.55-.79-.84-1.74-.81-2.73Zm4.86-8.93c-5.01-.18-9.23,3.75-9.4,8.77-.08,2.22,.66,4.32,2.02,5.99l-22.09,20.59,37.16,39.86c-21.13,18.06-53.05,16.42-72.18-4.11-19.65-21.09-18.48-54.23,2.6-73.88,10.54-9.82,24.1-14.45,37.48-13.97,12.67,.45,25.18,5.46,34.82,14.95l-4.55,4.24c-1.57-1.48-3.62-2.36-5.84-2.44Zm-28.42,96.79c-16.38-.58-31.56-7.5-42.73-19.49-11.18-11.99-17.01-27.61-16.44-44,.58-16.38,7.5-31.56,19.49-42.73C36.06,9.81,51.68,3.98,68.07,4.55c15.62,.55,30.15,6.87,41.15,17.85l-3.34,3.11C84.36,4.18,49.53,3.47,27.17,24.32,4.25,45.68,2.99,81.7,24.35,104.62c10.68,11.46,25.03,17.51,39.57,18.02,13.83,.49,27.84-4.05,39.04-13.68l3.11,3.34c-11.75,10.18-26.68,15.47-42.31,14.92Z" style="fill:#d8ad67;"></path><path d="M64.71,99.95c-.18,5.01,3.75,9.23,8.77,9.4s9.23-3.75,9.4-8.77-3.75-9.23-8.77-9.4-9.23,3.75-9.4,8.77Zm9.24-4.22c2.51,.09,4.47,2.2,4.38,4.7s-2.2,4.47-4.7,4.38-4.47-2.2-4.38-4.7,2.2-4.47,4.7-4.38Z" style="fill:#d8ad67;"></path><path d="M42.56,83.25c-5.01-.18-9.23,3.76-9.4,8.77s3.75,9.23,8.77,9.4,9.23-3.75,9.4-8.77-3.76-9.23-8.77-9.4Zm-.48,13.63c-2.51-.09-4.47-2.2-4.38-4.7s2.2-4.47,4.7-4.38,4.47,2.2,4.38,4.7-2.2,4.47-4.7,4.38Z" style="fill:#d8ad67;"></path><path d="M36.99,53.41c5.01,.18,9.23-3.75,9.4-8.77s-3.76-9.23-8.77-9.4-9.23,3.75-9.4,8.77,3.75,9.23,8.77,9.4Zm.48-13.63c2.5,.09,4.47,2.2,4.38,4.7s-2.2,4.47-4.7,4.38-4.47-2.2-4.38-4.7,2.2-4.47,4.7-4.38Z" style="fill:#d8ad67;"></path><path d="M55.27,54.49c-3.13-.11-5.77,2.35-5.88,5.48s2.35,5.77,5.48,5.88,5.77-2.35,5.88-5.48-2.35-5.77-5.48-5.88Zm-.3,8.52c-1.57-.06-2.79-1.37-2.74-2.94s1.37-2.79,2.94-2.74,2.79,1.37,2.74,2.94-1.37,2.79-2.94,2.74Z" style="fill:#d8ad67;"></path><path d="M66.07,28.98c-.04,1.26,.94,2.31,2.19,2.35s2.31-.94,2.35-2.19c.09-2.5,2.2-4.47,4.7-4.38,1.25,.04,2.31-.94,2.35-2.19s-.94-2.31-2.19-2.35c-5.01-.18-9.23,3.76-9.4,8.77Z" style="fill:#d8ad67;"></path><path d="M57.3,98.76c-1-.76-2.42-.57-3.19,.42-.76,1-.57,2.43,.43,3.19,1.99,1.52,2.37,4.38,.85,6.37-.76,1-.57,2.43,.43,3.19,.39,.3,.84,.45,1.3,.47,.71,.03,1.42-.28,1.89-.89,3.04-3.99,2.28-9.7-1.7-12.75Z" style="fill:#d8ad67;"></path><path d="M57.13,76.02c.88,.03,1.76-.17,2.55-.59,1.11-.58,1.54-1.96,.95-3.07-.58-1.11-1.95-1.54-3.07-.95-.17,.09-.33,.07-.43,.04-.1-.03-.24-.11-.33-.28-1.31-2.5-4.41-3.46-6.91-2.15-.28,.14-.62,.03-.77-.24-.64-1.21-1.7-2.1-3.01-2.51s-2.69-.28-3.9,.36c-1.11,.58-1.54,1.96-.95,3.07,.58,1.11,1.96,1.54,3.07,.95,.17-.09,.33-.07,.43-.04,.1,.03,.24,.11,.33,.28,1.31,2.49,4.41,3.46,6.91,2.15,.28-.15,.62-.04,.77,.24,.64,1.21,1.71,2.1,3.01,2.51,.44,.14,.89,.21,1.35,.23Z" style="fill:#d8ad67;"></path></g><path d="M102.44,46.65h22.97v6.71h-16.95l-1.27,8.16c2.31-1.12,4.86-1.68,7.64-1.68,2.47,0,4.73,.59,6.8,1.76,2.06,1.18,3.69,2.84,4.89,5,1.2,2.16,1.79,4.63,1.79,7.41,0,2.55-.63,4.91-1.88,7.09-1.25,2.18-3.02,3.92-5.29,5.24-2.28,1.31-4.86,1.97-7.75,1.97s-5.65-.63-7.93-1.88c-2.28-1.25-4.02-2.91-5.24-4.98-1.22-2.06-1.82-4.27-1.82-6.62h7.11c.08,1.77,.84,3.28,2.29,4.51,1.45,1.23,3.27,1.85,5.47,1.85s4.12-.69,5.64-2.08,2.29-3.2,2.29-5.44-.75-4.15-2.26-5.5c-1.5-1.35-3.39-2.02-5.67-2.02-1.58,0-3.08,.39-4.51,1.16-1.43,.77-2.41,1.87-2.95,3.3h-7" style="fill:#d8ad67;"></path></svg>
            <div style="color: #d8ad67; line-height: 1em;">Order 5 or more food items to checkout.</div>
          </div>

          <div name="ClaimFreebie" style="display: none/*flex*/; align-items: center; margin-bottom: 4px;">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.56 131.76" style="margin-right: -10px; height: 55px;">
              <!--path d="M132.08,90.86h-6V99h-7.27V90.86H97.26V83.94l21.52-26.89h7.27V83.94h6Zm-13.3-6.92V68.16L106.49,83.94Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
              <path d="M164.77,85.66h-8.46v8.51H149.4V85.66H141V78.8h8.45V70.35h6.91V78.8h8.46Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/-->
              <circle cx="23.83" cy="65.32" r="7.98" style="fill:#d8ad67"/>
              <circle cx="68.82" cy="48.73" r="5.48" style="fill:#d8ad67"/>
              <path d="M51.85,42l3.81-7,7.83,4.26-3.81,7Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
              <path d="M63.72,101.16l2.94-5.41,6,3.3-2.94,5.4Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
              <path d="M74.33,78.71,93.57,60.78h0l6.14-5.72,14.52-13.54,6.65-6.2-1.55-1.66a65.88,65.88,0,1,0-3.28,93.15l1.67-1.55-6.2-6.65ZM92.52,52.06a4.53,4.53,0,0,1,7.37-3.39l-3.28,3.06-3.28,3.06A4.39,4.39,0,0,1,92.52,52.06Zm4.86-8.93A9.12,9.12,0,0,0,88,51.9a9,9,0,0,0,2,6L67.91,78.48l37.15,39.86a52.25,52.25,0,1,1,2.71-77l-4.55,4.24A9,9,0,0,0,97.38,43.13ZM69,139.92A61.36,61.36,0,0,1,29.28,33.71a61.37,61.37,0,0,1,85.15,1.41l-3.34,3.11a56.79,56.79,0,1,0-2.93,83.44l3.11,3.33A60.91,60.91,0,0,1,69,139.92Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
              <path d="M69.92,112.66a9.09,9.09,0,1,0,9.4-8.76A9.1,9.1,0,0,0,69.92,112.66Zm9.24-4.22a4.55,4.55,0,1,1-4.7,4.38A4.55,4.55,0,0,1,79.16,108.44Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
              <path d="M47.77,96a9.09,9.09,0,1,0,8.76,9.4A9.1,9.1,0,0,0,47.77,96Zm-.48,13.62a4.54,4.54,0,1,1,4.7-4.38A4.55,4.55,0,0,1,47.29,109.59Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
              <path d="M42.19,66.13a9.09,9.09,0,1,0-8.76-9.41A9.12,9.12,0,0,0,42.19,66.13Zm.48-13.63A4.55,4.55,0,1,1,38,56.88,4.56,4.56,0,0,1,42.67,52.5Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
              <path d="M60.47,67.2A5.68,5.68,0,1,0,66,73.08,5.68,5.68,0,0,0,60.47,67.2Zm-.29,8.52A2.84,2.84,0,1,1,63.11,73,2.83,2.83,0,0,1,60.18,75.72Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
              <path d="M71.28,41.7a2.27,2.27,0,1,0,4.54.16,4.56,4.56,0,0,1,4.7-4.39,2.27,2.27,0,1,0,.16-4.54A9.09,9.09,0,0,0,71.28,41.7Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
              <path d="M62.51,111.48a2.27,2.27,0,1,0-2.76,3.61,4.55,4.55,0,0,1,.85,6.37,2.27,2.27,0,1,0,3.61,2.76A9.09,9.09,0,0,0,62.51,111.48Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
              <path d="M62.33,88.74a5.06,5.06,0,0,0,2.55-.59,2.27,2.27,0,1,0-2.11-4,.56.56,0,0,1-.43,0,.58.58,0,0,1-.34-.28,5.1,5.1,0,0,0-6.9-2.15.57.57,0,0,1-.77-.24,5,5,0,0,0-3-2.5,5.09,5.09,0,0,0-3.9.35,2.28,2.28,0,0,0,2.12,4,.57.57,0,0,1,.77.24,5.11,5.11,0,0,0,6.9,2.14A.58.58,0,0,1,58,86a5.07,5.07,0,0,0,3,2.51A5.16,5.16,0,0,0,62.33,88.74Z" transform="translate(-5.21 -12.71)" style="fill:#d8ad67"/>
            </svg>
            <div style="color: #d8ad67; line-height: 1em;">Select a free pizza.</div>
          </div>

          <p>
            <button type="button" class="action_button" disabled="true" style="background: #b8b8b8; cursor: not-allowed; height: 55px;">{{ 'cart.general.checkout' | t }}</button>
          </p>
        </div>

      </div>
    </form>

  </div>
</div>
<script>
  let template = window.ItemTemplate = document.getElementById("ItemTemplate");
  template.remove();
  template.removeAttribute("id");
  template.style.removeProperty("display");

  //if (qualifiesForGiftCard())
  //  changeQuantity();
  //else refreshItems();
    refreshItems();
</script>


{% schema %}

{
  "name": "Cart page",
  "class": "cart-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show 'note' text box",
      "default": false
    }
  ]
}

{% endschema %}
