{%- assign is-wholesale = false -%}
{%- if collection and collection.handle == "wholesale" -%}
  {%- assign is-wholesale = true -%}
{%- endif -%}

{% paginate collection.products by section.settings.pagination_limit %}
  {% assign tag_count = collection.all_tags | size %}
  {% assign tag_threshold = section.settings.tag_threshold | minus: 0 %}

  <div class="sixteen columns clearfix collection_nav">
    <h1 class="collection_title {% if section.settings.collection_tags and tag_count <= tag_threshold %}collection_title_tags{% endif %}"><a href="{% if collection.handle == "all" %}{{ routes.all_products_collection_url }}{% else %}{{ collection.url }}{% endif %}" title="{{ collection.title | escape }}">{{ collection.title }}</a></h1>
   <div id="pizza-icon">
    {%- if is-wholesale == false -%}
      <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.56 131.76"><path d="M159.56,72.94h-8.45v8.51h-6.92v-8.51h-8.45v-6.86h8.45v-8.45h6.92v8.45h8.45v6.86Z" style="fill:#d8ad67;"/><g><circle cx="23.83" cy="65.32" r="7.98" style="fill:#d8ad67;"/><circle cx="68.82" cy="48.73" r="5.48" style="fill:#d8ad67;"/><path d="M46.64,29.3l3.81-7,7.83,4.26-3.81,7-7.83-4.26Z" style="fill:#d8ad67;"/><path d="M58.51,88.44l2.94-5.4,6.04,3.29-2.94,5.4-6.04-3.29Z" style="fill:#d8ad67;"/><path d="M69.12,65.99l19.24-17.93h0s6.14-5.72,6.14-5.72l14.53-13.54,6.65-6.2-1.55-1.66C89.34-5.64,47.56-7.12,20.97,17.67,8.1,29.67,.66,45.97,.04,63.56c-.62,17.59,5.65,34.37,17.65,47.25,12.39,13.29,29.03,20.31,45.9,20.9,16.87,.59,33.96-5.23,47.25-17.62l1.66-1.55-6.2-6.65-37.19-39.9Zm18.19-26.65c.09-2.5,2.2-4.47,4.7-4.38,.99,.03,1.92,.39,2.67,1l-3.28,3.06-3.28,3.06c-.55-.79-.84-1.74-.81-2.73Zm4.86-8.93c-5.01-.18-9.23,3.75-9.4,8.77-.08,2.22,.66,4.32,2.02,5.99l-22.09,20.59,37.16,39.86c-21.13,18.06-53.05,16.42-72.18-4.11-19.65-21.09-18.48-54.23,2.6-73.88,10.54-9.82,24.1-14.45,37.48-13.97,12.67,.45,25.18,5.46,34.82,14.95l-4.55,4.24c-1.57-1.48-3.62-2.36-5.84-2.44Zm-28.42,96.79c-16.38-.58-31.56-7.5-42.73-19.49-11.18-11.99-17.01-27.61-16.44-44,.58-16.38,7.5-31.56,19.49-42.73C36.06,9.81,51.68,3.98,68.07,4.55c15.62,.55,30.15,6.87,41.15,17.85l-3.34,3.11C84.36,4.18,49.53,3.47,27.17,24.32,4.25,45.68,2.99,81.7,24.35,104.62c10.68,11.46,25.03,17.51,39.57,18.02,13.83,.49,27.84-4.05,39.04-13.68l3.11,3.34c-11.75,10.18-26.68,15.47-42.31,14.92Z" style="fill:#d8ad67;"/><path d="M64.71,99.95c-.18,5.01,3.75,9.23,8.77,9.4s9.23-3.75,9.4-8.77-3.75-9.23-8.77-9.4-9.23,3.75-9.4,8.77Zm9.24-4.22c2.51,.09,4.47,2.2,4.38,4.7s-2.2,4.47-4.7,4.38-4.47-2.2-4.38-4.7,2.2-4.47,4.7-4.38Z" style="fill:#d8ad67;"/><path d="M42.56,83.25c-5.01-.18-9.23,3.76-9.4,8.77s3.75,9.23,8.77,9.4,9.23-3.75,9.4-8.77-3.76-9.23-8.77-9.4Zm-.48,13.63c-2.51-.09-4.47-2.2-4.38-4.7s2.2-4.47,4.7-4.38,4.47,2.2,4.38,4.7-2.2,4.47-4.7,4.38Z" style="fill:#d8ad67;"/><path d="M36.99,53.41c5.01,.18,9.23-3.75,9.4-8.77s-3.76-9.23-8.77-9.4-9.23,3.75-9.4,8.77,3.75,9.23,8.77,9.4Zm.48-13.63c2.5,.09,4.47,2.2,4.38,4.7s-2.2,4.47-4.7,4.38-4.47-2.2-4.38-4.7,2.2-4.47,4.7-4.38Z" style="fill:#d8ad67;"/><path d="M55.27,54.49c-3.13-.11-5.77,2.35-5.88,5.48s2.35,5.77,5.48,5.88,5.77-2.35,5.88-5.48-2.35-5.77-5.48-5.88Zm-.3,8.52c-1.57-.06-2.79-1.37-2.74-2.94s1.37-2.79,2.94-2.74,2.79,1.37,2.74,2.94-1.37,2.79-2.94,2.74Z" style="fill:#d8ad67;"/><path d="M66.07,28.98c-.04,1.26,.94,2.31,2.19,2.35s2.31-.94,2.35-2.19c.09-2.5,2.2-4.47,4.7-4.38,1.25,.04,2.31-.94,2.35-2.19s-.94-2.31-2.19-2.35c-5.01-.18-9.23,3.76-9.4,8.77Z" style="fill:#d8ad67;"/><path d="M57.3,98.76c-1-.76-2.42-.57-3.19,.42-.76,1-.57,2.43,.43,3.19,1.99,1.52,2.37,4.38,.85,6.37-.76,1-.57,2.43,.43,3.19,.39,.3,.84,.45,1.3,.47,.71,.03,1.42-.28,1.89-.89,3.04-3.99,2.28-9.7-1.7-12.75Z" style="fill:#d8ad67;"/><path d="M57.13,76.02c.88,.03,1.76-.17,2.55-.59,1.11-.58,1.54-1.96,.95-3.07-.58-1.11-1.95-1.54-3.07-.95-.17,.09-.33,.07-.43,.04-.1-.03-.24-.11-.33-.28-1.31-2.5-4.41-3.46-6.91-2.15-.28,.14-.62,.03-.77-.24-.64-1.21-1.7-2.1-3.01-2.51s-2.69-.28-3.9,.36c-1.11,.58-1.54,1.96-.95,3.07,.58,1.11,1.96,1.54,3.07,.95,.17-.09,.33-.07,.43-.04,.1,.03,.24,.11,.33,.28,1.31,2.49,4.41,3.46,6.91,2.15,.28-.15,.62-.04,.77,.24,.64,1.21,1.71,2.1,3.01,2.51,.44,.14,.89,.21,1.35,.23Z" style="fill:#d8ad67;"/></g><path d="M102.44,46.65h22.97v6.71h-16.95l-1.27,8.16c2.31-1.12,4.86-1.68,7.64-1.68,2.47,0,4.73,.59,6.8,1.76,2.06,1.18,3.69,2.84,4.89,5,1.2,2.16,1.79,4.63,1.79,7.41,0,2.55-.63,4.91-1.88,7.09-1.25,2.18-3.02,3.92-5.29,5.24-2.28,1.31-4.86,1.97-7.75,1.97s-5.65-.63-7.93-1.88c-2.28-1.25-4.02-2.91-5.24-4.98-1.22-2.06-1.82-4.27-1.82-6.62h7.11c.08,1.77,.84,3.28,2.29,4.51,1.45,1.23,3.27,1.85,5.47,1.85s4.12-.69,5.64-2.08,2.29-3.2,2.29-5.44-.75-4.15-2.26-5.5c-1.5-1.35-3.39-2.02-5.67-2.02-1.58,0-3.08,.39-4.51,1.16-1.43,.77-2.41,1.87-2.95,3.3h-7" style="fill:#d8ad67;"/></svg>           
      <p style="padding-top:1em;">Minimum 5 items (any combo) per order.</p>
    {%- else -%}
      <p style="padding-top:0.5em;">Minimum 2 cases (any combo) per order.</p>
    {%- endif -%}
   </div>
    {% if collection.handle != blank and collection.products_count > 0 %}
      {% if section.settings.collection_tags %}
        <div class="section_select tag_filter" {% if tag_count > tag_threshold %}style="display:block"{% endif %}>
          <select name="tag_filter" id="tag_filter">
            <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}{{ routes.all_products_collection_url }}{% elsif collection.handle %}{{ collection.url }}{% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}{{ collection.title | url_for_type }}{% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}{{ collection.title | url_for_vendor }}{% endif %}">{{ 'collections.general.view_all' | t }}</option>
            {% for tag in collection.all_tags %}
{%- if tag contains '_HIDDEN_PRODUCT' -%}{%- continue -%}{%- endif -%}
              {% unless tag contains 'meta-' %}
                <option {% if current_tags contains tag %}selected="selected"{% endif %} value="{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
              {% endunless %}
            {% endfor %}
          </select>
        </div>
      {% endif %}

      {% if section.settings.collection_sort %}
        <div class="section_select">
          <select id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by }}">
            <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
            <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
            <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
            <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
            <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
            <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
            <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
            <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
          </select>
        </div>
      {% endif %}
    {% endif %}
    {% if section.settings.collection_tags %}
      {% if tag_count <= tag_threshold %}
        <ul class="collection_menu">
          <li>
            <a href="{% if collection.handle == "all" %}{{ routes.all_products_collection_url }}{% elsif collection.handle %}{{ collection.url }}{% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}{{ collection.title | url_for_type }}{% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}{{ collection.title | url_for_vendor }}{% endif %}">{% if current_tags %}{{ 'collections.general.view_all' | t }}{% else %}<span class="active">{{ 'collections.general.view_all' | t }}</span>{% endif %}</a>
          </li>
          {% for tag in collection.all_tags %}
{%- if tag contains '_HIDDEN_PRODUCT' -%}{%- continue -%}{%- endif -%}
            {% unless tag contains 'meta-' %}
              <li>
                {{ tag | highlight_active_tag | link_to_tag: tag }}
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </div>

  {% if collection.description != blank %}
    <div class="sixteen columns">
      <div class="section clearfix">
        {{ collection.description }}
      </div>
    </div>
  {% endif %}

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  {% if sidebar %}
    {% include 'sidebar' %}
    <div class="twelve columns">
  {% else %}
    <div class="sixteen columns">
  {% endif %}

  {% assign linklist = linklists[collection.handle] %}
  {% if linklist != empty %}
    {% assign collections_per_row = section.settings.collections_per_row %}
    {% include 'collection-loop', sidebar: sidebar %}
  {% endif %}

  {% if collection.products.size > 0 %}
    {% assign products = collection.products %}
    {% assign products_per_row = section.settings.products_per_row %}
    {%- if is-wholesale == false -%}
      <h2>Pizzas</h2>
      {% include 'product-loop', sidebar: sidebar , limit: section.settings.pagination_limit, tag: "Pizza" %}
      <div style="clear: both;"></div>
      <h2>Fiori Pasta Bakes</h2>
      {% include 'product-loop', sidebar: sidebar , limit: section.settings.pagination_limit, tag: "Pasta Bake" %}
      <div style="clear: both;"></div>
      <h2>Dry Pastas</h2>
      {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Dry Pasta" %}
      <div style="clear: both;"></div>
      <h2>Sauces</h2>
      {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Sauce" %}
      <div style="clear: both;"></div>
      <h2>Oils &amp; Vinegars</h2>
      {% include 'product-loop', sidebar: sidebar , limit: limit, tag: "Oils" %}
      <div style="clear: both;"></div>
      <h2 style="margin-bottom:.25em;">Subscribe and Save 10%</h2>
      <p style="line-height:1.5em !important;">Enjoy a night at Katie’s in the comfort of your own home, we’ll do the work. Katie’s Pizza and Pasta Packs are delivered to your door as often as you want them. </p>
      {% include 'product-loop', sidebar: sidebar , limit: section.settings.pagination_limit, tag: "Packs" %}
      <div style="clear: both;"></div>
      <h2>Gift Card</h2>
      {% include 'product-loop', sidebar: sidebar , limit: section.settings.pagination_limit, tag: "Gift Card" %}
      <div style="clear: both;"></div>

      {% comment %}<h2>Pasta by the Pound</h2>
      {% include 'product-loop', sidebar: sidebar , limit: section.settings.pagination_limit, tag: "Pasta" %}
      <div style="clear: both;"></div>
      <h2>Appetizers</h2>
      {% include 'product-loop', sidebar: sidebar , limit: section.settings.pagination_limit, tag: "Appetizer" %}
      <div style="clear: both;"></div>
      <h2>Sauces</h2>
      {% include 'product-loop', sidebar: sidebar , limit: section.settings.pagination_limit, tag: "Sauce" %}
      <div style="clear: both;"></div>
      <h2>Desserts</h2>
      {% include 'product-loop', sidebar: sidebar , limit: section.settings.pagination_limit, tag: "Dessert" %}
      <div style="clear: both;"></div>
      {% endcomment %}
    {%- else -%}
      <h2>Pizzas</h2>
      {% include 'product-loop', sidebar: sidebar , limit: section.settings.pagination_limit, tag: "wholesale-pizza" %}
      <div style="clear: both;"></div>
      <h2>Fiori Pasta Bakes</h2>
      {% include 'product-loop', sidebar: sidebar , limit: section.settings.pagination_limit, tag: "wholesale-pasta" %}
      <div style="clear: both;"></div>
    {%- endif -%}

    
  {% endif %}
  </div>

  {% include 'pagination', sidebar: sidebar %}
{% endpaginate %}

{% schema %}

{
  "name": "Sub-collections",
  "class": "collection-template-section sub-collections-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "collection_sort",
      "label": "Show collection filter",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "collection_tags",
      "label": "Show tag filter",
      "default": false
    },
    {
      "type": "range",
      "id": "tag_threshold",
      "label": "Maximum product tag links",
      "info": "The threshold value for the maximum number of product tag links to display before changing to a select box.",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 5
    },
    {
      "type": "header",
      "content": "Collections"
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create sub-collection sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
     {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ]
}

{% endschema %}
