{% paginate collections by section.settings.pagination_limit %}
{% assign collections_per_row = section.settings.collections_per_row %}

  <div class="sixteen columns clearfix collection_nav">
    <h1 class="collection_title">Frozen Menu</h1>
  </div>

  {% capture new_row %}
      <br class="clear product_clear" />
  {% endcapture %}

  {% for link in linklists.all-collections.links %}
  {% assign collection = link.object %}
    {% unless collection.handle == 'frontpage' %}
      {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
      <div class="{% if collections_per_row == 2 %}eight columns{% elsif collections_per_row == 3 %}one-third column{% else %}four columns{% endif %} thumbnail {% cycle 'even', 'odd' %}">
        <a href="{{ collection.url }}" title="{{ collection_title }}">
          {% if collection.image %}
            {% include 'image-element', image: collection.image.src, alt: collection.image.alt %}
          {% else %}
            {% include 'image-element', image: collection.products.first.featured_image, alt: collection.image.alt %}
          {% endif %}

          <div class="info">
            <span class="title">{{ collection.title }}</span>
          </div>
        </a>
      </div>

      {% if collections_per_row == 2 %}
        {% cycle '', new_row %}
      {% elsif collections_per_row == 3 %}
        {% cycle '', '', new_row %}
      {% elsif collections_per_row == 4 %}
        {% cycle '', '', '', new_row %}
      {% endif %}
    {% endunless %}
  {% endfor %}

 {% include 'pagination' %}
{% endpaginate %}

{% schema %}

{
  "name": "Collections",
  "class": "collection-template-section",
  "settings": [
    {
      "type": "range",
      "id": "collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Collections per page",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 48
    }
  ]
}

{% endschema %}
