{% comment %}
** Registration template - default view **
{% endcomment %}

<section class="registration">
    <div class="sixteen columns clearfix collection_nav">
    <h1 class="collection_title">{{ 'customer.register.title' | t }}</h1>
    </div>

    <div class="section clearfix">
    <div class="six columns offset-by-five">
        <br class="clear" />
        <div id="customer">
        <!-- Create Customer -->
        <div id="create-customer">

            {% if section.settings.richtext != blank %}
                <div class="richtext">{{ section.settings.richtext }}</div>
            {% endif %}

            {% form 'create_customer' %}
            {{ form.errors | default_errors }}

            <div id="first_name" class="clearfix large_form">
                <label for="first_name" class="login">{{ 'customer.register.first_name' | t }}</label>
                <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
            </div>

            <div id="last_name" class="clearfix large_form">
                <label for="last_name" class="login">{{ 'customer.register.last_name' | t }}</label>
                <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
            </div>

            <div id="email" class="clearfix large_form">
                <label for="email" class="login">{{ 'customer.register.email' | t }}</label>
                <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
            </div>

            <div id="password" class="clearfix large_form">
                <label for="password" class="login">{{ 'customer.register.password' | t }}</label>
                <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
            </div>

            <div class="acceptsMarketing">
               <input type="checkbox" id="customer[accepts_marketing]" name="customer[accepts_marketing]">
               <label for="customer[accepts_marketing]">{{ section.settings.accepts_marketing_richtext }}</label>
            </div>

            <div class="action_bottom">
                <input class="btn action_button" type="submit" value="{{ 'customer.register.sign_up' | t }}" />
                <p class="right" style="padding-top: 8px;">
                  {{ 'customer.register.returning_customer_label' | t }} <a href="{{ routes.account_login_url }}" id="customer_register_link">{{ 'customer.register.sign_in_html' | t }}</a>
                </p>
            </div>

            {% endform %}
        </div><!-- /#create-customer -->
        </div>
    </div>
    </div>
</section>

{% schema %}
  {
    "name": "Register",
    "class": "registration",
    "settings": [
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Text"
      },
      {
        "type": "richtext",
        "id": "accepts_marketing_richtext",
        "label": "Accepts marketing text",
        "default": "<p>Subscribe to our newsletter?</p>"
      }
    ]
  }
{% endschema %}
