{% schema %}
  {
    "name": "Zip Code Check Section",
    "settings": [],
	"presets": [{
    	"name": "Zip Code Check Section",
    	"category": "Promotional"
  	}]
  }
{% endschema %}

{% include "zip-code-check" %}