<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

<div class="sixteen columns page" style="padding-bottom:3em;">
  {% include 'page-multi-column', content: page.content %}
</div>

{% include 'include-featured-collection', collection: collections["frozen-menu"], products_per_row: 4 %}