<!--<div class="container">
  <div class="sixteen columns clearfix collection_nav" style="margin-bottom:0;">
    <h1 class="collection_title">
      FROZEN REWARDS
    </h1>
  </div>
</div>-->

<div class="rewards-wrap">
  <!--{% include 'page-multi-column', content: page.content %}-->
  <section class="clearfix" style="padding:0;">
    <div class="rewards-banner">
      <img class="mobile-rewards-bg" src="{{ 'kppo-mobile-frozen-rewards-banner-image.png' | asset_img_url: '900x' }}">
     <div class="container">
       <div class="rewards-banner-text">
         <h2>EAT PIZZA,<br/>GET REWARDS</h2>
         <p>Join Katie’s Frozen Loyalty Program* and earn a $20 reward for every $250 you spend!</p>
         <p style="padding-bottom:2em; font-size:.8em; line-height:1.3em; font-style:italic;"><sup>*</sup>Rewards may only be used on katiespizza.com and not in Katie's Pizza &amp; Pasta Osteria Restaurants.</p>
         <a href="/account/register" class="rewards-btn action_button">
          SIGN UP</a>
        </div>
      </div>
    </div>
  </section>
  <section class="clearfix text-center" style="background-color:#eee;">
    <div class="container">
        <div class="five columns">
          <p class="step-icon">1</p>
          <p class="px-2">Join Katie's Frozen Loyalty Program.</p>
        </div>
        <div class="six columns">
          <p class="step-icon">2</p>
          <p class="px-3">Earn a $20 reward for every $250 spent.</p>
        </div>
        <div class="five columns">
          <p class="step-icon">3</p>
          <p class="px-2">Redeem rewards on future orders.</p>
        </div>
    </div>
  </section>
  <section class="clearfix text-center">
    <div class="container">
      <div class="loyalty-text">
      <p style="padding:.5em;">Join Katie's Frozen Loyalty Program today and start earning money back to redeem on future orders!</p>
        <div class="four columns">
          <a href="/account/register" class="rewards-btn action_button">SIGN UP</a>
        </div>
        <div class="four columns">
          <a href="/account/login" class="rewards-btn action_button">SIGN IN</a>
        </div>
      </div>
    </div>
  </section>
</div>